.form{
  background-image: url('../img/form/bg2.jpg');
  min-height: 680px;
  color: #fff;
}
.form__body{
  &-title{
    max-width: 420px;
    @include adaptive-value('font-size', 20, 15, 0);
    @include adaptive-value('margin-top', 77, 35, 0);
    margin-left: 10px;
    margin-bottom: 37px;
  }
  &-box{
    margin-left: 10px;
  }
  &-input{
    padding-top: 20px;
    padding-left: 20px; 
    padding-bottom: 20px;
    max-width: 300px;
    width: 100%;
    height: 50px;
    border-radius: 5px;
    background-color: #ffffff;
    margin-bottom: 13px;
    &::placeholder{
      color: #4b4b4b;
      font-weight: 300;
      @include adaptive-value('font-size', 14, 12, 0);
    }
  }
}
label.error{
  display: none;
  font-size: 0;
}
input.error{
  border: 3px solid  #c70101;
  box-shadow: 5px 5px 10px #c70101;
}
@media(max-width:991px){
  .form__body{
    &-title{
      margin-left: 0px;
    }
  }
}
@media(max-width:575px){
  .form__body{
    &-title{
      max-width: 250px;
    }
  }
}