.title{
  text-align: center;
  color: #000;
  font-weight: 700;
  @include adaptive-value('font-size', 30, 24, 0);
  @include adaptive-value('padding-top', 62, 31, 0);
}
.main__content-title{
  @include adaptive-value('font-size', 41, 30, 0);
  color: #333333;
  @include adaptive-value('margin-top', 80, 40, 0);
  max-width: 480px;
  line-height: 55px;
  @include adaptive-value('margin-bottom', 35, 25, 0);
  padding-top: 0;
}
.form__title{
  text-align: left;
  line-height: 36px;
  font-weight: 700;
  @include adaptive-value('font-size', 24, 21, 0);
  @include adaptive-value('padding-top', 77, 42, 0);
  width: 400px;
  color: #333333;
}
.wework__title{
  color: #333;
  text-transform: none; 
  line-height: 42px;
  @include adaptive-value('font-size', 30, 24, 0);
  @include adaptive-value('padding-top', 90, 10, 0);
}
.prices__title{
  margin: 0 auto;
  margin-top: 30px;
  line-height: 42px;
  max-width: 550px;
}
.features__title{
  margin: 0 auto;
  max-width: 681px;
  line-height: 42px;
}
.fix__title{
  text-align: center;
  max-width: 950px;
  @include adaptive-value('font-size', 32, 20, 0);
  font-weight: 300;
  line-height: 49px;
}
.garant__title{
  margin: 0 auto;
  max-width: 660px;
  line-height: 42px;
}
.quest__info-title{
  @include adaptive-value('font-size', 22, 18, 0);
  max-width: 530px;
  line-height: 36px;
}