.cards__inner{
  display: flex;
  justify-content: space-between;
  @include adaptive-value('margin-top', 100, 40, 0);
  @include adaptive-value('padding-bottom', 70, 40, 0);
}
.cards__item{
  position: relative;
  p{
    max-width: 260px;
    position: absolute;
    left: 25px;
    top: 10px;
    @include adaptive-value('font-size', 16, 13, 0);
    span{
      font-weight: 700;
    }
  }
}
@media(max-width:1200px){
  .cards__inner{
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .cards__item{
    width: 40%;
    margin-bottom: 20px;
  }
}
@media(max-width:900px){
  .cards__inner{
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .cards__item{
    width: 70%;
    margin-bottom: 20px;
    img{
      width: 100%;
    }
  }
}
@media(max-width:400px){
  .cards__item{
    width: 90%;
    margin-bottom: 20px;
    img{
      width: 100%;
    }
  }
}