.footer{
  display: flex;
}
.footer__info{
  @include adaptive-value('margin-left', 220, 100, 0);
  @include adaptive-value('margin-top', 85, 100, 0);
}
.footer__info-title{
  color: #000000;
  @include adaptive-value('font-size', 22, 18, 0);
  font-weight: 700;
  max-width: 400px;
  line-height: 36px;
}
.footer__info-list{
  @include adaptive-value('margin-top', 85, 100, 0);
  margin-left: 40px;
  max-width: 150px;
  height: 67px;
  color: #000000;
  font-weight: 300;
  @include adaptive-value('font-size', 16, 13, 0);
  line-height: 26px;
  li{
    margin-bottom: 30px;
    position: relative;
    img{
      position: absolute;
      left: -40px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  span{
    font-weight: 700;
    display: block;
  }
  a{
    display: block;
    font-weight: 700;
  }
}
iframe{
  width: 50%;
  height: 640px;
}
@media(max-width:991px){
  iframe{
    width: 100%;
  }
  .footer{
    flex-direction: column;
  }
  .footer__info{
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 420px;
    margin: 50px;
  }
  .footer__info-list{
    margin-top: 30px;
    margin-left: 30px;
  }
  .footer__info-title {
    text-align: center;
  }
}