.garant__inner{
  @include adaptive-value('padding-top', 100, 40, 0);
  @include adaptive-value('padding-bottom', 220, 40, 0);
  display: flex;
  justify-content: space-around;
}
.garant__item{
  text-align: center;
  p{
    margin-top: 30px;
    max-width: 280px;
    @include adaptive-value('font-size', 18, 15, 0);
    font-weight: 300;
  }
}
@media(max-width:991px){
  .garant__inner{
    flex-wrap: wrap;
  }
  .garant__item{
    width: 50%;
    margin-bottom: 30px;
    p{
      margin-top: 30px;
      max-width: none;
    }
  }
}
@media(max-width:767px){
  .garant__inner{
    flex-wrap: wrap;
  }
  .garant__item{
    width: 60%;
    margin-bottom: 30px;
    img{
      width: 100%;
    }
    p{
      margin-top: 30px;
      max-width: none;
    }
  }
  // .garant__title{
  //   max-width: 500px;
  // }
}