.prices__descr{
  color: #000;
  @include adaptive-value('font-size', 20, 17, 0);
  font-weight: 300;
  margin-top: 50px;
  margin-left: 42%;
}
.prices__inner{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  @include adaptive-value('margin-top', 60, 30, 0);
}
.prices__item{
  max-width: 370px;
  min-height: 410px;
  margin-bottom: 30px;
  border: 1px solid #e8e8e8;
  background-color: #ffffff;
  transition: all 0.3s ease-in;
  p{
    @include adaptive-value('margin-top', 35, 30, 0);
    @include adaptive-value('font-size', 18, 15, 0);
    font-weight: 300;
    display: flex;
    justify-content: center;
  }
  .prices__item-img{
    transition: all 0.3s ease-in;
    position: relative;
    img{
      width: 368px;
    }
    &:before{
      content: '';
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      background-image: linear-gradient(to top, #ffd200 0%, rgba(255, 255, 255, 0) 100%);
      opacity: 0;
    }
  }
  &:hover{
    .prices__item-img:before{
      opacity: 1;
    }
    .prices__btn:before{
      background-color: rgba( #ffd200, 0.5);
      height: 15px;
    }
  }
}
.prices__btn{
  display: block; 
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
  font-weight: 700;
  @include adaptive-value('font-size', 16, 13, 0);
  position: relative;
  transition: all 0.3s ease;
  &:before{
    content: '';
    position: absolute;
    bottom: -3px;
    left: 5px;
    width: 100px;
    height: 3px;
    background-color: #ffd200;
    transition: all 0.3s ease;
  }
  &:hover {
    &:before{
      background-color: rgba( #ffd200, 0.5);
      height: 15px;
    }
  }
}
@media(max-width:1160px){
  .prices__inner{
    justify-content: space-around;
  }
  .prices__item{
    max-width: none;
    width: 40%;
    min-height: 320px;
  }
  .prices__item .prices__item-img img {
    width: 100%;
  }
  .prices__descr{
    text-align: center;
    margin: 30px auto;
  }
}
@media(max-width:767px){
  .prices__inner{
    justify-content: center
  }
  .prices__item{
    max-width: none;
    width: 60%;
    min-height: 320px;
  }
  .prices__item .prices__item-img img {
    width: 100%;
  }
}
@media(max-width:500px){
  .prices__item{
    width: 95%;
    min-height: 250px;
  }
}
