.quest{
  @include adaptive-value('padding-top', 95, 40, 0);
  @include adaptive-value('padding-bottom', 75, 40, 0);
  color: #000000;
  background-image: url('../img/quest/bg.jpg');
  background-repeat: no-repeat;
  background-size: 50% 900px;
  background-position: right top;
  background-color: #ffc000;
}
.quest__inner{
  display: flex;
  justify-content: space-between;
}
.quest__info{
  width: 50%;
  &-descr{
    @include adaptive-value('font-size', 16, 13, 0);
    @include adaptive-value('margin-top', 37, 25, 0);
  }
  &-list{
    @include adaptive-value('margin-top', 105, 45, 0);
    padding-left: 70px;
    li{
      @include adaptive-value('font-size', 18, 14, 0);
      @include adaptive-value('margin-bottom', 40, 25, 0);
      max-width: 380px;
      position: relative;
    }
  }
}
.quest__info-list-box{
  position: absolute;
  left: -70px;
  top: 50%;
  transform: translateY(-50%);
  width: 35px;
  height: 35px;
  border: 2px solid #000000;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.quest__form{
  width: 50%;
  margin-right: -60px;
  color: #333333;
  &-wrapper{
    margin-left: 170px;
  }
  &-title{
    max-width: 380px;
    line-height: 36px;
    font-weight: 700;
    @include adaptive-value('font-size', 22, 18, 0);
  }
  &-descr{
    font-weight: 300;
    @include adaptive-value('font-size', 16, 13, 0);
    @include adaptive-value('margin-top', 40, 25, 0);
    margin-left: 40px;
  }
  .quest__form-body{
    @include adaptive-value('margin-top', 40, 25, 0);
  }
  .quest__form-box{
    margin-left: -20px;
    input{
      max-width: 370px;
      width: 100%;
      padding: 25px;
      height: 65px;
      border-radius: 10px;
      border: 1px solid #dddddd;
      background-color: #ffffff;
      margin-top: 10px;
    }
  }
}
@media(max-width:1200px){
  .quest{
    background-color: transparent;
    background-size: cover;
  }
  .quest__info {
    width: 100%;
  }
  .quest__form {
    width: 80%;
    margin-right: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .quest__inner{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .quest__form-wrapper{
    margin: 0;
  }
  .quest__form-descr{
    margin: 0;
  }
}