.features{
  @include adaptive-value('padding-top', 85, 35, 0);
  @include adaptive-value('padding-bottom', 40, 25, 0);
  background-image: url('../img/features/line-bg.png');
  background-position: top top;
  background-size: contain;
  background-repeat: no-repeat;
  color: #000;
}
.features__inner{
  position: relative;
  &::before{
    content: '';
    position: absolute;
    width: 82px;
    height: 89px;
    background-image: url('../img/features/ruby.png');
    background-repeat: no-repeat;
    right: -15px;
    top: 32%;
  }
}
.features__item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  &-info{
    max-width: 400px;
    width: 100%;
  }
  &-title{
    @include adaptive-value('font-size', 22, 18, 0);
    font-weight: 500;
    max-width: 360px;
    width: 100%;
    margin-bottom: 20px;
  }
  &-text{
    @include adaptive-value('font-size', 17, 14, 0);
    line-height: 22px;
    max-width: 400px;
  }
}

.features-moovie{
  position: relative;
  top: 10px;
  left: 50px;
  width: 100%;
}
.moovie--info{
  margin-bottom: 35px;
  margin-right: 170px;
}
.moovie--title{
  position: relative;
  &:before{
    content: '';
    position: absolute;
    left: -50px;
    top: 50%;
    transform: translateY(-50%);
    background-image: url('../img/features/moovie.png');
    background-repeat: no-repeat;
    width: 43px;
    height: 43px;
  }
}
.travel--info{
  margin-left: 170px;
  margin-bottom: 60px;
}
.travel--title{
  position: relative;
  &:before{
    content: '';
    position: absolute;
    left: -50px;
    top: 50%;
    transform: translateY(-50%);
    background-image: url('../img/features/world.png');
    background-repeat: no-repeat;
    width: 43px;
    height: 43px;
  }
}
.travel--img{
  position: relative;
  right: 85px;
  bottom: 28px;
  width: 100%;
}
@media(max-width:1150px){
  .features-moovie{
  left: 0px;
  } 
  .travel--img{
    right: 0px;
  }
}
@media(max-width:991px){
  .features__item{
    flex-direction: column; 
    text-align: center;
  }
  .moovie--info {
    margin-bottom: 30px;
    margin-right:  0px;
  }
  .travel--info {
    margin-left: 0px;
    margin-bottom: 20px;
  }
  
  .features__item--travel{
    flex-direction: column-reverse;
  }
}
@media(max-width:767px){
  .features__inner::before {
    display: none;
  }
}
@media(max-width:575px){
  .moovie--info {
    margin-top: 20px;
  }
  .travel--info {
    margin-top: 30px;
  }
  .moovie--title:before {
    left: 50%;
    transform: translateX(-50%);
    top: -60px;
  }
  .travel--title:before {
    left: 50%;
    transform: translateX(-50%);
    top: -60px;
  }
}