.feedback{
  @include adaptive-value('padding-top', 100, 50, 0);
  padding-bottom: 50px;
  background-color: $secondary;
}
.feedback__inner{
  margin-top: 80px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  &:after{
    content: '';
    position: absolute;
    right: -110px;
    top: -80px;
    background-image: url('../img/feedback/coub.svg');
    width: 194px;
    height: 174px;
  }
}
.feedback__item:nth-child(2){
  margin-left: 5px;
}
.feedback__item:nth-child(4){
  margin-left: 5px;
}
.feedback__item{
  max-width: 582px;
  min-height: 350px;
  border-radius: 3px;
  border: 1px solid #3eb7b7;
  background-color: #ffffff;
  padding: 35px;
  margin-bottom: 10px;
  &-header{
    display: flex;
    align-items: center;
    img{
      border-radius: 50%;
      width: 115px;
      height: 115px;
      object-fit: cover; 
    }
  }
  &-info{
    @include adaptive-value('font-size', 18, 14, 0);
    font-weight: 500;
    max-width: 204px;
    margin-left: 25px;
  }
  &-text{
    margin-top: 15px;
    @include adaptive-value('font-size', 18, 14, 0);
    line-height: 24px;
  }
}
@media(max-width:1200px){
  .feedback__item{
    max-width: 900px;
    min-height: 250px;
    &-header{
      justify-content: center;
    }
  }
  .feedback__inner{
    justify-content: center;
  }
}
@media(max-width:575px){
  .feedback__item{
    &-header{
      flex-direction: column;
      text-align: center;
      img{
        margin-bottom: 10px;
      }
    }
  }
}