.games{
  @include adaptive-value('padding-top', 95, 40, 0);
  @include adaptive-value('padding-bottom', 55, 35, 0);
  background-image: url('../img/work/line.jpg');
  background-repeat: no-repeat;
  background-position: bottom;
  background-color: $simulation;
}
.games__store{
  margin-top: 50px;
  &-list{
    display: flex;
    justify-content: center;
    align-items: center;
    li{
      &:nth-child(2){
        margin-left: 20px;
        margin-right: 20px;
      }
    }
  }
}
.games__inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 60px;
}
.games__item{
  max-width: 370px;
  &-title{
    margin-top: 15px;
    font-weight: 500;
    @include adaptive-value('font-size', 22, 17, 0);
  }
  &-text{
    margin-top: 15px;
    line-height: 24px;
    @include adaptive-value('font-size', 17, 14, 0);
  }
}
.iphone-world{
  position: relative;
  top: -20px;
}
.iphone-sisters{
  position: relative;
  top: -20px;
}
@media(max-width:1200px){
  .games__inner{
    flex-direction: column;
  }
  .games__item{
    text-align: center;
    margin-bottom: 20px;
    img{
      width: 100%;
    }
    &-text{
      max-width: 750px;
    }
  }
}