.wrapper{
  overflow: hidden;
}
.simulation{
  background: $simulation;
  color: #000;
  @include adaptive-value('padding-bottom', 135, 95, 0);
}
.simulation__item{
  display: flex;
  align-items: center;
}
.simulation-img{
  img{
    width: 100%;
  }
  &-phone{
    position: relative;
    top: 40px;
    left: 10px;
  }
  &-book{
    position: relative;
    top: 75px;
    right: -280px;
  }
}
.simulation__box{
  &-title{
    @include adaptive-value('font-size', 22, 18, 0);
    font-weight: 500;
    max-width: 300px;
    margin-bottom: 20px;
    position: relative;
    &:before{
      content: '';
      position: absolute;
      width: 43px;
      height: 43px;
      background-repeat: no-repeat;
      left: -50px;
    }
  }
  &-text{
    @include adaptive-value('font-size', 17, 14, 0);
    max-width: 400px;
  }
}

.simulation-box-phone{
  position: relative;
  top: 45px;
  left: 60px;
  max-width: 340px;
}
.simulation-box-phone  .simulation__box-title{
  &:before{
  background-image: url('../img/simulation/ball.png');
  }
}
.simulation-box-book {
  position: relative;
  top: 85px;
  left: 170px;
}
.simulation-box-book .simulation__box-title{
  &:before{
  background-image: url('../img/simulation/gamepad.png');
  }
}
@media(max-width:1230px){
  .simulation-img{
    &-phone{
      left: 0px;
    }
    &-book{
      right: -190px;
    }
  }
}
@media(max-width:991px){
  .simulation__item{
    flex-direction: column;
    align-items: center;
  }
  .simulation__item-book{
    flex-direction: column-reverse;
  }
  .simulation-img{
    &-phone{
      position: static;
    }
    &-book{
      position: static;
    }
  }
  .book-wrapper{
    margin-left: 100px;
  }
  .simulation-box-phone{
    position: static;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .simulation-box-book{
    position: static;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
@media(max-width:767px){
  .book-wrapper{
    margin-left: 50px;
  }
}
@media(max-width:575px){
  .simulation__box{
    &-title{
      &:before{
        left: 50%;
        transform: translateX(-50%);
        top: -50px;
      }
    }
  }
  .simulation-box-phone{
    margin-top: 50px;
  }
  .simulation-box-book{
    margin-top: 50px;
    margin-bottom: 20px;
  }
}