.wework{
  @include adaptive-value('padding-top', 100, 50, 0);
  background: $simulation;
  @include adaptive-value('padding-bottom', 100, 50, 0);
}
.wework__inner{
  @include adaptive-value('margin-top', 120, 60, 0);
  @include adaptive-value('margin-left', 40, 30, 0);
  display: flex;
  justify-content: space-between;
}
.wework__item{
  &-text{
    @include adaptive-value('font-size', 17, 12, 0);
    text-align: center;
    max-width: 250px;
    a{
      color: #000;
    }
  }
}
.wework__item--one{
  max-width: 175px;
  img{
    margin-bottom: 10px;
    margin-left: 20px;
  }
}
.wework__item--two{
  max-width: 210px;
  img{
    margin-left: 35px;
  }
}
.wework__item--three{
  max-width: 240px;
  img{
    margin-top: -25px;
    margin-left: 50px;
  }
  .wework__item-text{
    margin-top: 10px;
    margin-left: -20px;
  }
}
.wework__item--four{
  max-width: 175px;
  img{
    margin-top: -20px;
    margin-left: -10px;
  }
  .wework__item-text{
    margin-left: -30px;
    margin-top: 10px;
  }
}
@media(max-width:991px){
  .wework__inner{
    flex-wrap: wrap;
  }
  .wework__item{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    &-text{
      max-width: 200px;
    }
  }
  .wework__item--one{
    max-width: none;
    img{
      margin-bottom: 0px;
      margin-left: 0px;
    }
  }
  .wework__item--two{
    max-width: none;
    img{
      margin-left: 0px;
    }
  }
  .wework__item--three{
    max-width: none;
    img{
      margin-top: 5px;
      margin-left: 0px;
    }
    .wework__item-text{
      margin-top: 0px;
      margin-left: 0px;
    }
  }
  .wework__item--four{
    max-width: none;
    img{
      margin-top: 0px;
      margin-left: 0px;
    }
    .wework__item-text{
      margin-left: 0px;
      margin-top: 0px;
    }
  }
}
@media(max-width:991px){
  .wework__item{
    width: 100%;
    &-text{
      max-width: 270px;
    }
  }
}