.consult{
  background: #dbdbdb;
  padding-bottom: 85px;
  @include media-breakpoint-down(md){
    padding-bottom: 40px;
  }
}

.consult__inner{
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  max-width: 740px;
  padding: 55px;
  border: 10px solid rgba(#fff, 0.5);
  border-radius: 4px;

}
.consult__label{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 25px;
  input{
    padding: 5px;
  }
  @include media-breakpoint-down(md){
    margin-bottom: 15px;
  }
}
.consult__form{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.consult__btn{
  font-size: 13px;
  @include media-breakpoint-down(sm){
    margin-top: 25px;
    font-size: 11px;
  }
}