.details-order{
  background-color: $second;
  padding-bottom: 75px;
  @include media-breakpoint-down(md){
    padding-bottom: 40px;
  }
}
.details-order__inner{
  display: flex;
  justify-content: space-between;
  max-width: 940px;
  border: 5px solid #fff;
  padding: 50px;
  @include media-breakpoint-down(md){
    flex-direction: column;
    align-items: center;
  }
}

.mark-box,
.model-box,
.data-box{
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  align-items: center;
  
}
.mark{
  width: 240px;
  height: 40px;
  padding-right: 28px;
  padding-left: 10px;
}
.need-details-box{
  align-items: center;
}
.need-details-box,
.need-name-box,
.details-phone-box{
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  textarea{
    width: 240px;
    height: 120px;
    resize: none;
    padding: 10px;
  }
  input{
    padding: 10px;
  }
}

.label{
  margin-bottom: 5px;
  font-family: lato-r, sans-serif;
  font-size: 13px;
}

.details-button{
  margin-top: 10px;
  @include media-breakpoint-down(md){
    width: 100%;
  }
}
.details-button.button{
  @include media-breakpoint-down(md){
    max-width: 100%;
  }
}
.details-button.button{
  @include media-breakpoint-down(xs){
    font-size: 11px;
  }
}


@include media-breakpoint-down(md){
  .details-order__item{
    width: 100%;
  }
}


.mark{
  appearance: none;
  background: #fff;
  border: 1px solid grey;
  border-radius: 4px;
}


.select-style-box{
  position: relative;
}
.select-style-box::after{
  content: '';
  position: absolute;
  right: 7px;
  top: 65%;
  z-index: 999;

  border-style: solid;
  border-width: 7px 7px 0 7px;
  border-color: #148673 transparent transparent transparent;
}

.select-style-box:before{
  content: '';
  position: absolute;
  display: block;
  width: 2px;
  height: 25px;
  right: 25px;
  top: 50%;
  background: rgba(139, 139, 139, .5);
  z-index: 999;
}