.features{
  padding-top: 80px;
  @include media-breakpoint-down(md){
    padding-top: 50px;
  }
}
.features__inner{
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  @include media-breakpoint-down(md){
    flex-direction: column;
  }
}
.features__item{
  flex-basis: 33%;
  text-align: center;
  margin-bottom: 80px;
}

.features__item-title{
  margin-top: 30px;
  font-family: lato-r, sans-serif;
  font-size: 16px;
}
.features__item-descr{
  margin-top: 20px;
  font-family: lato-b, sans-serif;
  font-size: 14px;
  max-width: 270px;
  margin: 0 auto;
}

