
.container{
  max-width: 970px;
  padding: 15px;
  margin: 0 auto;
}

.logo{
  width: 81px;
  height: 81px;
  img{
    width: 100%;
  }
  @include media-breakpoint-down(xs){
    &{
      width: 64px;
      height: 64px;
    }
  }
}

.callback{
  display: flex;
  flex-direction: column;
  a{
    font-family: lato-b, sans-serif;
    color:#fff;
    font-size: 28px;
    text-decoration: none;
    position: relative;
    &:before{
      content: '';
      position: absolute;
      width: 0%;
      height: 3px;
      background-color: $accent;
      bottom: 0;
      transition: all 0.25s ease;
    }
    &:hover:before{
      width: 100%;
    }
    &:hover + .callback__button{
      color: #000;
      text-decoration: none;
    }
  }
  &__button{
    transition: all 0.25s ease;
    color: $accent;
    text-decoration: underline; 
    &:hover{
      color: lighten($accent, 10);
      text-decoration: none;
    }
  }
}

.header{
  background-image: url('../images/dist/mainbg.jpg');
  background-size: cover;
  background-position: center ;
  background-repeat: no-repeat;
  height: 100vh;

  color: #fff;
}

.information{
  display: flex;
  justify-content: space-between;
}


.header__content{
  margin-top: 115px;
  &-info{
    text-align: center;
  }
  &-title{
    font-family: lato-b, sans-serif;
    font-size: 48px;
  }
  &-descr{
    font-family: lato-b, sans-serif;
    font-size: 30px;
  }
}

.header__content-bull{
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  .header__content-item{
    text-align: center;
    width: 150px;
    img{
      margin-bottom: 40px;
      height: 65px;
    }
  }
  @include media-breakpoint-down(xs){
    &{
      flex-direction: column;
      align-items: center;
      .header__content-item{
        margin-bottom: 15px;
      }
    }
  }
}

.header__content-buttons{
  display: flex;
  justify-content: center;
  margin-top: 100px;
  p{
    width: 180px;
    text-align: center;
    margin-top: 20px;
  }
  .more-details__btn{
    max-width: 280px;
    border-radius: 25px;
    padding: 15px 50px;
    background: transparent;
    border: 1px solid $accent;
    color: #fff;
    position: relative;
    overflow: hidden;
    transition: all 0.5s ease;
    letter-spacing: 1.5px;
    &:before{
      content: '';
      position: absolute;
      width: 0%;
      height: 100%;
      background: #000;
      top: 0;
      right: 0;
      border-radius: 24px;
      z-index: 1;
      transition: all 0.5s ease;
    }
    &:hover:before{
      width: 100%;
    }
    &:hover{
      border: 1px solid rgba(#fff, .5);
    }
    span{
      position: relative;
      z-index: 3;
    }
  }
}
.fast-order, .more-details{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.more-details{
  margin-left: 45px;
}


@include media-breakpoint-down(md){
  .header{
    height: auto;
  }
}

@include media-breakpoint-down(xs){
  .header__content-title {
    font-size: 32px;
  }
  .header__content-descr {
    font-size: 20px;
  }
}










