
.header{
  padding-top: 40px;
  background-image: url('../img/main_bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 700px;
  position: relative;

  color: #fff;
}


.header-menu-burger {
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  span{
    width: 100%;
    background: #fff;
  }
}
.header-menu__logo {
  width: 140px;
  height: 65px;
}

.header-menu__list {
  display: flex;
  justify-content: space-between;
  font-size: 2.4rem;
  max-width: 560px;
  width: 100%;
}

.header-menu__link {
  padding: 10px 15px;
  font-size: 1.3rem;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
}


.header-menu{
  position: relative;
}

.header-menu__container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-menu__burger{
  position: absolute;
  right: 20px;
  top: 0;
  z-index: 100;
}
.ham8 .top {
  stroke-dasharray: 40 160;
}
.ham8 .middle {
  stroke-dasharray: 40 142;
  transform-origin: 50%;
  transition: transform 400ms;
}
.ham8 .bottom {
  stroke-dasharray: 40 85;
  transform-origin: 50%;
  transition: transform 400ms, stroke-dashoffset 400ms;
}
.ham8.active-burger .top {
  stroke-dashoffset: -64px;
}
.ham8.active-burger .middle {
  transform: rotate(90deg);
}
.ham8.active-burger .bottom {
  stroke-dashoffset: -64px;
}
.ham {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.hamRotate.active-burger {
  transform: rotate(45deg);
}

.line {
  fill:none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke:#fff;
  stroke-width:5.5;
  stroke-linecap:round;
}

@media(min-width:961px){
  .header-menu__burger{
    visibility: hidden;
  }

}
@media(max-width:960px){
  .header-menu__body{
    overflow: auto;
    visibility: hidden;
    opacity: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    left: -100%;
    top: 0;
    z-index: 98;
  }
  .header-menu__list{
    display: block;
    width: 80%;
    height: 100%;
    background: rgba(40, 40, 40, .9);
  }
  .header-menu__li{
    margin: 0;
    padding: 20px 0px;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid grey;
  }
}

.menu--active{
  opacity: 1;
  left: 0;
  visibility: visible;

  transition: all .4s ease-in;
}




.header__content {
  margin-top: 60px;
}
.header__content-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
// .header__content-info {

// }
.header__content-title {
  font-size: 4.2rem;
  line-height: 4.8rem;
  font-weight: 900;
}
.header__content-subtitle {
  margin-top: 27px;

  font-family: Roboto;
  font-size: 2.4rem;
  line-height: 3.0rem;
  color: #ffffff;

  font-weight: 300;
}

.header__content-span{
  font-weight: 400;

}

.header__bottom-btn {
  margin-top: 39px;
}
.header__content-img {
  margin-top: 35px;
  position: relative;
  top: 10px;
  max-width: 382px;
  width: 100%;
  max-height: 501px;
  height: 100%;
  img{
    object-fit: cover;
  }
}

.header__content-dots{
  position: absolute;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
}

.header__content-btn{
  border: none;
  cursor: pointer;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #fff;
  display: inline-block;
  transition: all .25s ease;
  margin: 0 5px;
}



.header__content-arrows{
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}

.header__content-arrows-btn{
  cursor: pointer;
  position: absolute;
  bottom: 0;
  width: 25px;
  height: 25px;
  background: transparent;

  border: none;

  &:before{
    content: '';
    position: absolute;
    left: 0px;
    top: 0px;
    width: 25px;
    height: 5px;
    background: $main-color;
  }

  &:after{
    content: '';
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 5px;
    height: 25px;
    background: $main-color;
  }
  transition: all .25s ease;
}

.arrow-prev{
  left: -135px;
  transform: rotate(-135deg);

}
.arrow-next{
  right: -135px;
  transform: rotate(45deg);

}

.header__content{
  overflow: hidden;
}
.header__content-slider{
  display: flex;
  position: relative;
  left: 0;
  transition: all .5s ease;
}
.header__content-item{
  min-width: 1170px;
}

.header__content-item{
  display: none;
}

.header__content-item--active{
  display: flex;

  animation: animateSlide 1s ease ;
}

.header-btn--active{
  background: $main-color;
}

@keyframes animateSlide{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

@media(max-width:1200px){
  .header__content-item {
    flex-direction: column-reverse;
    justify-content: center;
    min-width: auto;
    width: 100%;
  }
  .header{
    padding-bottom: 100px;
  }
  .header__content-img{
    margin-bottom: 20px;
  }
  .header__content-info{
    text-align: center;
  }
  .header__content-img {
    margin-top: 35px;
    position: relative;
    top: 10px;
    max-width: 382px;
    width: 100%;
    max-height: 501px;
    height: 100%;
    overflow: hidden;
  }
}

@include sm-block(){
  .header-menu__list {
    padding-top: 50px;
    width: 70%;
    overflow-y: auto;
  }
  .header-menu__burger {
    right: -15px;
  }
}

@include xs-block(){
  .header__content-btn{
    border: none;
    cursor: pointer;
    width: 13px;
    height: 15px;
    border-radius: 50%;
    background: #fff;
    display: inline-block;
    transition: all .25s ease;
    margin: 0 5px;
  }
  
  
  .header__content-arrows-btn{
    width: 25px;
    height: 25px;
    &:before{
      width: 25px;
      height: 5px;
    }
  
    &:after{
      width: 5px;
      height: 25px;
    }
  }
}