
.header{
  padding-top: 40px;
  background-image: url('../img/main_bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 700px;
  position: relative;
  color: #fff;
}


.header-menu-burger {
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  span{
    width: 100%;
    background: #fff;
  }
}
.header-menu__logo {
  width: 140px;
  height: 65px;
}

.header-menu__list {
  display: flex;
  justify-content: space-between;
  font-size: 2.4rem;
  max-width: 560px;
  width: 100%;
}

.header-menu__link {
  padding: 10px 15px;
  font-size: 1.3rem;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
}


.header-menu{
  position: relative;
}

.header-menu__container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-menu__burger{
  position: absolute;
  right: 20px;
  top: 0;
  z-index: 100;
}
.ham8 .top {
  stroke-dasharray: 40 160;
}
.ham8 .middle {
  stroke-dasharray: 40 142;
  transform-origin: 50%;
  transition: transform 400ms;
}
.ham8 .bottom {
  stroke-dasharray: 40 85;
  transform-origin: 50%;
  transition: transform 400ms, stroke-dashoffset 400ms;
}
.ham8.active-burger .top {
  stroke-dashoffset: -64px;
}
.ham8.active-burger .middle {
  transform: rotate(90deg);
}
.ham8.active-burger .bottom {
  stroke-dashoffset: -64px;
}
.ham {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.hamRotate.active-burger {
  transform: rotate(45deg);
}

.line {
  fill:none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke:#fff;
  stroke-width:5.5;
  stroke-linecap:round;
}

@media(min-width:961px){
  .header-menu__burger{
    visibility: hidden;
  }

}
@media(max-width:960px){
  .header-menu__body{
    overflow: auto;
    visibility: hidden;
    opacity: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    left: -100%;
    top: 0;
    z-index: 98;
  }
  .header-menu__list{
    display: block;
    width: 80%;
    height: 100%;
    background: rgba(40, 40, 40, .9);
  }
  .header-menu__li{
    margin: 0;
    padding: 20px 0px;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid grey;
  }
}

.menu--active{
  opacity: 1;
  left: 0;
  visibility: visible;

  transition: all .4s ease-in;
}




.header__content {
  margin-top: 60px;
}
.header__content-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__content-title {
  font-size: 4.2rem;
  line-height: 4.8rem;
  font-weight: 900;
}
.header__content-subtitle {
  margin-top: 27px;

  font-family: Roboto;
  font-size: 2.4rem;
  line-height: 3.0rem;
  color: #ffffff;

  font-weight: 300;
}

.header__content-span{
  font-weight: 400;

}

.header__bottom-btn {
  margin-top: 39px;
}
.header__content-img {
  margin-top: 35px;
  position: relative;
  top: 10px;
  max-width: 382px;
  width: 100%;
  max-height: 501px;
  height: 100%;
  img{
    object-fit: cover;
  }
}

.header__content-dots{
  position: absolute;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
}

.header__content-btn{
  border: none;
  cursor: pointer;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #fff;
  display: inline-block;
  transition: all .25s ease;
  margin: 0 5px;
}



.header__content-arrows{
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}

.header__content-arrows-btn{
  cursor: pointer;
  position: absolute;
  bottom: 0;
  width: 25px;
  height: 25px;
  background: transparent;

  border: none;

  &:before{
    content: '';
    position: absolute;
    left: 0px;
    top: 0px;
    width: 25px;
    height: 5px;
    background: $main-color;
  }

  &:after{
    content: '';
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 5px;
    height: 25px;
    background: $main-color;
  }
  transition: all .25s ease;
}

.arrow-prev{
  left: -135px;
  transform: rotate(-135deg);

}
.arrow-next{
  right: -135px;
  transform: rotate(45deg);

}

.header__content{
  overflow: hidden;
}
.header__content-slider{
  display: flex;
  position: relative;
  left: 0;
  transition: all .5s ease;
}
.header__content-item{
  min-width: 1170px;
}

.header__content-item{
  display: none;
}

.header__content-item--active{
  display: flex;

  animation: animateSlide 1s ease ;
}

.header-btn--active{
  background: $main-color;
}

@keyframes animateSlide{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

@media(max-width:1200px){
  .header__content-item {
    flex-direction: column-reverse;
    justify-content: center;
    min-width: auto;
    width: 100%;
  }
  .header{
    padding-bottom: 100px;
  }
  .header__content-img{
    margin-bottom: 20px;
  }
  .header__content-info{
    text-align: center;
  }
  .header__content-img {
    margin-top: 35px;
    position: relative;
    top: 10px;
    max-width: 382px;
    width: 100%;
    max-height: 501px;
    height: 100%;
    overflow: hidden;
  }

  .header__content-arrows{
    bottom: -65px;
  }
  
  .header__content-dots{
    bottom: -70px;
    display: flex;
    flex-wrap: wrap;
  }
  .header__content-dot{
    width: 20%;
  }
}

@include sm-block(){
  .header-menu__list {
    padding-top: 50px;
    width: 70%;
    overflow-y: auto;
  }
  .header-menu__burger {
    right: -15px;
  }
}

@include xs-block(){
  .header__content-btn{
    width: 15px;
    height: 15px;
  }
  
  
  .header__content-arrows-btn{
    width: 25px;
    height: 25px;
    &:before{
      width: 25px;
      height: 5px;
    }
  
    &:after{
      width: 5px;
      height: 25px;
    }
  }
}


// SECTION PENGI


.pengi {
  @include adaptive-value(padding-top, 80, 50, 0);
  @include adaptive-value(padding-bottom, 80, 50, 0);
}
.container {
}
.pengi__inner {
  @include row-flex();
  justify-content: center;

}
.pengi__lines {
  position: relative;
  &:after, &:before{
    content: '';
    display: block;
    position: absolute;
    width: 169px;
    height: 50px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
    background-image: url('../img/pengi__lines.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
  &:after{
    top: 360px;
  }
  &:before{
    top: 390px;
  }
}
.pengi__item {
  @include col();
  @include size(4);
  @include size-lg(4);
  @include size-md(6);
  @include size-sm(12);
  @include size-xs(12);

  position: relative;
  margin-bottom: 20px;
  border: 1px solid #ececec;
  overflow: hidden;
  .img{
    width: 100%;
    height: 100%;
  }
  img{
    width: 100%;
    height: 100%;
  }
}

.pengi__item-text {
  font-weight: 300;
  max-width: 250px;
}
.pengi__item-text, .pengi__item-advantages{
  position: absolute;
  bottom: 35px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-size: 1.8rem;
  line-height: 26px;
  width: 100%;
}

.pengi__title {
  font-size: 4.8rem;
  font-weight: 700;
  color: #393939;
  margin-top: 155px;
  text-align: center;
  margin-bottom: 40px;
}
.pengi__item-advantages {
  max-width: 260px;
  font-weight: 700;
}



@media(max-width:1150px){
  .pengi__lines {
    &:after, &:before{
      display: none;
    }
  }
}

// SECTION PENGI END END END END END 




// DESICOIN START


.desicion {
  @include adaptive-value(padding-bottom, 60, 40, 0);
  background-image: url('../img/desicion__bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.desicion__title{
  max-width: 620px;
  margin: 0 auto;
  margin-bottom: 25px;
}
.desicion__slider {
  position: relative;
}
.desicion__arrows {
  position: absolute;
  width: 100%;
  top: 50%;
}
.desicion__arrow-next, .desicion__arrow-prev  {
  transition: all .25s ease;
  background-image: url('../img/arrow_next.png');
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  position: absolute;
  width: 60px;
  height: 80px;
  cursor: pointer;
}
.desicion__arrow-next:active{
  transform: translate(2px, 2px) scale(0.95);
}
.desicion__arrow-prev:active {
  transform: rotate(180deg) translate(2px, 2px) scale(0.95);
}
.desicion__arrow-next {
  right: 0;
}
.desicion__arrow-prev {
  left: 0;
  transform: rotate(180deg);
}
.desicion__dots {
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;

  max-width: 843px;
  height: 64px;
  border: 1px solid #ffffff;
  padding-left: 32px;
  padding-right: 32px;
  margin: 0 auto;
  margin-bottom: 60px;
}
.desicion__dot {
  transition: all .25s ease;
  padding-top: 25px;
  padding-bottom: 25px;
  font-size: 14px;
  line-height: 25px;
  color: #ffffff;
  cursor: pointer;
  position: relative;
  &:before{
    content: '';
    width: 1px;
    height: 49px;
    top: 50%;
    transform: translateY(-50%);
    background: #fff;
    position: absolute;
    right: -26px;
  }
  &:last-child:before{
    display: none;
  }
}
.desicion__dot--active{
  color: $main-color;
}
.desicion__slider-container {
  display: flex;
  justify-content: center;
  overflow: hidden;
  max-height: 560px;

}
.desicion__item {
  display: none;
  .loading {
      border: none; 
  }
}

.desicion__item--active{
  display: block;
}



@include sm-block() {
  .desicion__dots{
    flex-wrap: wrap;
    height: auto;
  }
  .desicion__dot{
    width: 45%;
    margin: 2%;
    text-align: center;
    border: 1px solid $main-color;
    border-radius: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
    &:before{
      display: none;
    }
  }
  .desicion__dot--active{
    background: #f2f3f4;
  }

  .desicion__arrows{
    top: 100%;
  }

  .desicion{
    padding-bottom: 120px;
  }

}

@include xs-block() {
  .desicion__dot{
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .desicion__dot{
    width: 100%;
    margin: 2%;
  }

}


// DESICOIN END


// ADVANTAGES START

.advantages {
  @include adaptive-value(padding-bottom, 80, 50, 0);
  
}

.advantages__title {
  color: $text-color;
  margin: 0 auto;
  margin-bottom: 45px;
  max-width: 400px;
}

.advantages__inner {
  display: flex;
  flex-wrap: wrap;
}
.advantages__item {
  width: 50%;
  position: relative;
  img{
    width: 100%;
    height: 100%;
    vertical-align: top;
  }
}

.advantages__item-text {
  position: absolute;
  top: 140px;
  left: 50%;

  width: 100%;
  transform: translateX(-50%);

  font-size: 2.3rem;
  line-height: 2.6rem;
  font-weight: 400;
  color: #ffffff;
  max-width: 340px;
  text-align: center;
  z-index: 2;

  &:after{
    content: '';
    position: absolute;
    width: 585px;
    height: 156px;
    opacity: 0.43;
    background-color: #000000;

    top: -40px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
  }
}

@media(max-width:1200px){
  .advantages__inner {
    flex-direction: column;
  }
  .advantages__item{
    width: 100%;
  }
  .advantages__item-text {
    position: absolute;
    top: 50%;
    left: 50%;


    transform: translate(-50%, -50%);

  }
}

@include sm-block() {
  .advantages__item-text:after{
    width: 100%;
    height: 100%;
    top: -20px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

// ADVANTAGES END

// DATA START

.data {
  background: url('../img/databg1.jpg') top left/50% no-repeat,
    url('../img/databg2.jpg') top right/50% no-repeat;

    min-height: 580px;
    padding-bottom: 50px;
    color: #fff;
}

.data__title {
  max-width: 400px;
  margin: 0 auto;
}
.data__inner{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 100px;
}
.data__item {
  width: 45%;
  position: relative;
  &:before{
    content: '';
    top: -20px;
    right: 0;
    position: absolute;
    width: 167px;
    height: 167px;
    opacity: 0.3;
    background-color: #00c2f0;
    z-index: -1;
  }
}
.data__item--1{
  text-align: right;
  &:before{
    right: -40px;
  }
}
.data__item--2{
  &:before{
    left: -40px;
  }
}

.data__item-title {
  font-size: 3.5rem;
  font-weight: 900;
  text-transform: uppercase;
}
.data__item-text {
  font-size: 1.8rem;
  line-height: 2.6rem;
  font-weight: 300;
  margin-top: 20px;
}


@media(max-width:1400px){
  .data {
    background: url('../img/databg1.jpg') center center / cover no-repeat,
    }
}
@include lg-block(){

  .data__item {
    width: 85%;
    margin: 0 auto;
  }

  .data__item{
    margin-bottom: 50px;
  }
}

@include xs-block(){
  .data__item {
    width: 100%;
    &:before{
      display: none;
    }
  }
}
// DATA END

// CONSULTATION start

.consultation {
  @include adaptive-value(padding-top, 80, 40, 0);
  @include adaptive-value(padding-bottom, 80, 40, 0);
}

.consultation__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.consultation__title {
  max-width: 600px;
  margin-bottom: 30px;
  margin-top: 75px;
  color: $text-color;
}

// CONSULTATION end

// FOOTER START

.footer {
  background: #0082a1;
  min-height: 500px;
  padding-top: 50px;
  padding-bottom: 50px;
  color: #ffffff;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 45px;
  border-bottom: 1px solid rgba(255, 255, 255, .3);
}
.footer__item {
  .img{
    text-align: left;
    margin-top: 30px;
    margin-bottom: 20px;
  }
}
.footer__item--company{
  max-width: 400px;
}
.footer__item-title {
  font-size: 1.6rem;
  font-weight: 700;
}

.footer__item-text {
  font-size: 1.4rem;
  font-weight: 300;
}

.footer__link {
  color: #fff;
  transition: all .2s ease;
}
.footer__bottom {
  text-align: center;
}
.footer__bottom-copy {
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 13px;
  line-height: 17px;
  font-weight: 300;
  color: #ffffff;
}


@include lg-block(){
  .footer__inner{
    margin-left: 50px;
  }
  .footer__item {
    width: 50%;
    margin-bottom: 20px;
  }
  .footer__item-text--align{
    text-align: right;
  }
}



@include sm-block(){
  .footer__inner{
    justify-content: center;
    margin-left: 0;
  }
  .footer__item {
    width: 80%;
    text-align: center;
    margin-bottom: 20px;
  }
  .footer__item--company{
    text-align: center;
    .img{
      text-align: center;
    }
  }
}
// FOOTER END