*{
  box-sizing: border-box;
}
p{
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6{
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none; 
  color: #fff;
}
ul{
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.btn{
  border: none;
  outline: transparent;
}
body{
  font-family: 'Helvetica Neue Cyr ', sans-serif;
  font-weight: 400;
}
.container{
  max-width: 1200px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}