.title{
  color: #000000;
  @include adaptive-value('font-size', 36, 27, 0);
  font-weight: 700;
  line-height: 40px;
}
.title__line{
  text-align: center;
  position: relative;
  &:before{
    content: '';
    position: absolute;
    bottom: -17px;
    left: 50%;
    transform: translateX(-45%);
    width: 56px;
    height: 5px;
    background-color: #18a7d0;
  }
}
.order__title{
  max-width: 368px;
  padding-top: 80px;
  color: #fff;
}
