.main{
  padding-top: 22px;
  padding-left: 15px;
  background-image: url('../img/main/bg-main.jpg');
  min-height: 650px;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}
.header{
  display: flex;
  justify-content: space-between;
  &__logo{
    width: 251px;
    height: 45px;
    img{
      width: 100%;
    }
  }
  &__offical{
    span{
      margin-top: 5px;
      margin-right: 100px;
      margin-bottom: 0;
      display: block;
      @include adaptive-value('font-size', 12, 10, 0);
    }
    p{
      margin-top: 10px;
      font-weight: 700;
      @include adaptive-value('font-size', 18, 15, 0);
    }
  }
  &__phone{
    a{
      margin-top: -3px;
      margin-bottom: 5px;
      @include adaptive-value('font-size', 18, 15, 0);
      font-weight: 700;
      display: block;
    }
    .header__btn{
      @include adaptive-value('font-size', 12, 10, 0);
      margin-left: 10px;
    }
  }
}
.main__content{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 40px;
  &-text{
    margin-top: 10px;
    @include adaptive-value('font-size', 24, 18, 0);
    text-transform: uppercase;
  }
  &-inner{
    margin-top: 40px;
    width: 420px;
    margin-right: 20px;
    display: flex;
    justify-content: space-between;
  }
  &-item{
    text-align: center;
    p{
      @include adaptive-value('font-size', 14, 12, 0);
      span{
        display: block;
      }
    }
  }
  &-catalog{
    margin-top: 20px;
    margin-left: 100px;
    span{
      @include adaptive-value('font-size', 13, 10, 0);
    }
    a{
      text-decoration: underline;
      text-transform: uppercase;
      @include adaptive-value('font-size', 16, 13, 0);
    }
  }
}
@media(max-width:991px){
  .header{
    &__offical{
      span{
        margin-right: 0px;
      }
    }
  }
}
@media(max-width:767px){
  .main{
    background-position: left -400px center;
  }
  .header{
    text-align: center;
    flex-direction: column;
    align-items: center;
    &__logo{
      margin-bottom: 10px;
    }
    &__offical{
      margin-bottom: 10px;
    }
  }

  .main__content{
      &-inner{
        flex-direction: column;
        margin-right: 0;
      }
      &-text{
      text-align: center;
      margin-bottom: 0;
    }
  }
}
@media(max-width:575px){
  .main__content{
    margin-top: 0px;
    &-btn{
      margin-top: 20px;
    }
  }
  .main__content-inner {
    width: 100%;
  }
}