.slider{
  @include adaptive-value('padding-top', 110, 50, 0);
}
.slider__inner{
  margin: 0 auto;
  max-width: 750px;
  min-height: 580px;
}
.slider__item{
  img{
    max-width: 750px;
    min-height: 500px;
  }
}
.slick-slider{
  position: relative;
}
.slick-arrow{
  position: absolute;
  top: 44%;
  transform: translateY(-50%);
  z-index: 99;
}
.slick-prev{
  left: -95px;
}
.slick-next{
  right: -110px;
}
@media(max-width:991px){
  .slider__item{
    img{
      width: 100%;
    }
  }
  .slider__inner{
    margin: 0 auto;
    max-width: 750px;
    min-height: 480px;
  }
}
@media(max-width:575px){
  .slider__item{
    img{
      max-width: 600px;
      min-height: 500px;
    }
  }
}
@media(max-width:480px){
  .slider__item{
    img{
      max-width: 600px;
      min-height: 400px;
    }
  }
  .slider__inner{
    margin: 0 auto;
    max-width: 750px;
    min-height: 420px;
  }
}