.all-inclusive{
  background-color: #f5f5f5;
}
.all-inclusive__title{
  font-size: 48px;
  color: #358015;
}
.all-inclusive__inner{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 120px;
}
.all-inclusive__item{
  display: flex;
  align-items: center;
  margin-bottom: 100px;
  &-number{
  background-color: #358015;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  margin-right: 20px;
  }
  &-title{
    color: #000000;
    font-size: 16px;
    font-weight: 700;
    width: 200px;
  }
  &-text{
    color: #000000;
    font-size: 13px;
    font-weight: 300;
    width: 245px;
  }
}
@media(max-width:1200px){
  .all-inclusive__item{
    width: 50%;
    margin-bottom: 30px;
  }
}
@media(max-width:676px){
  .all-inclusive__item{
    text-align: center;
    flex-direction: column;
    width: 100%;
    margin-bottom: 10px;
  }
  .all-inclusive__item-title {
    width: 100%; 
  }
  .all-inclusive__inner{
    margin-top: 40px;
  }
}