.fears{
  padding-bottom: 80px;
  position: relative;
  &:before{
    content: '';
    position: absolute;
    display: block;
    background: url('../images/fears/fears-girl.png');
    width: 314px;
    height: 526px;
    top: 260px;
    left: 50%;
    transform: translateX(-60%);
    z-index: 1;
  }
}
.fears__title{
  margin-bottom: 90px;
}
.fears__inner{
  display: flex;  
  justify-content: space-between;
}
.fears__item{
  max-width: 550px;
  width: 100%;
  min-height: 400px;
  padding: 50px;
}
.fears__item-title{
  color: #313131;
  font-size: 21px;
  font-weight: 700;
  margin-bottom: 50px;
}
.fears__item-title--danger{
  opacity: 0.5;
}
.fears__item-list{
  li{
    display: block;
    padding-left: 50px;
    margin-bottom: 45px;
  }
}
.fears__item--danger{
  border: 4px solid #e8e8e8;
}
.fears__item-list{
  li{
    color: #313131;
    font-size: 15px;
  }
}
.fears__item-list--danger{
  li{
    position: relative;
    &:before{
      content: '';
      position: absolute;
      background: url('../images/fears/cancel.svg');
      display: block;
      width: 20px;
      height: 20px;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}
.fears__item--succsess{
  border: 4px solid #358015;
}
.fears__item-list--succsess{
  li{
    position: relative;
    &:before{
      content: '';
      position: absolute;
      background: url('../images/fears/checked.svg');
      display: block;
      width: 20px;
      height: 20px;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}
@media(max-width:1300px){
  .fears{
  &:before{
    background: none;
  }
}
}
@media(max-width:1200px){
  .fears__inner{
    flex-direction: column;
    align-items: center;
  }
  .fears__item{
    text-align: center;
    margin-bottom: 20px;
    max-width: 900px;
    padding: 50px;
    &-list{
      display: flex;
      flex-direction: column;
      align-items: center; 
      li{
        display: inline-block;
        padding-left: 30px;
      }
    }
  }
}
@media(max-width:991px){
  .fears__item{
    margin-bottom: 20px;
    width: 90%;
    padding: 50px;
  }
  .fears__title {
    margin-bottom: 60px;
  }
}
@media(max-width:575px){
  .fears__item{
    margin-bottom: 20px;
    width: 90%;
    padding: 30px;
    &-list{
      li{
        font-size: 13px;
      }
    }
  }
  .fears__title {
    margin-bottom: 30px;
  }
}
@media(max-width:480px){
  .fears__item{
    padding: 15px;
  }
  .fears__title {
    margin-bottom: 30px;
  }
}
