
.footer__inner{
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #292929;
}
.footer__phone{
  text-align: center;
  width: 180px;
  &-link{
    font-size: 20px;
    font-weight: 700;
    display: block;
  }
  &-mail{
    font-size: 17px;
    line-height: 24px;
    text-decoration: underline;
    display: block;
  }
  span{
    display: block;
    text-decoration: underline;
    font-size: 17px;
  }
}
.footer__dev-logo{
  display: flex;
  flex-direction: column;
  span{
    text-align: right;
  }
}
@media(max-width:767px){
  .footer__inner{
    flex-direction: column;
  }
  .footer__phone{
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .footer__dev-logo{
    span{
      text-align: center;
    }
  }
}