.materials{
  background-image: url('../images/materials/materials-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center ;
  color: #000000;
  padding-bottom: 90px;
}
.materials__inner{
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
}
.materials__item{
  margin-bottom: 20px;
  text-align: center;
  img{
    width: 160px;
    height: 180px;
  }
  &-title{
    font-size: 22px;
    font-weight: 700;
    margin-top: 15px;
    margin-bottom: 30px;
  }
  &-info{
    min-height: 50px;
  }
  &-text{
    font-size: 19px;
    
    margin-bottom: 5px;
    margin-top: 5px;
    span{
      font-weight: 700;
    }
  }
  &-link{
    display: inline-block;
    margin-top: 10px;
    color: #6ba253;
    font-size: 16px;
    text-decoration: underline;
  }
}
.materials__text{
  text-align: center;
  margin-top: 80px;
  font-size: 20px;
  a{
    color: #6ba253;
    text-decoration: underline;
    font-weight: 700;
  }
}
@media(max-width:991px){
  .materials__inner{
    flex-wrap: wrap;
  }
  .materials__item{
    width: 50%;
  }
}
@media(max-width:575px){
  .materials__item{
    width: 100%;
  }
}
