.wrapper {
}
.main {
  margin-top: 3rem;
  margin-bottom: 5rem;
}
.container {
}
.main__inner {
  display: flex;
  justify-content: space-between;
}
.marketing {
  position: relative;
  max-width: 720px;
  width: 100%;
  box-shadow: 0px 0px 43px 33px rgba(0, 0, 0, 0.09);
  border-radius: 10px;

  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.marketing__top {
  position: relative;
  background: $main;
  display: flex;
  align-items: center;
  border-radius: 10px;
  min-height: 165px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
.marketing__top-img {
  max-width: 284px;
  width: 100%;
  height: 100%;
  max-height: 312px;
  margin-top: 40px;
  margin-left: 70px;
  z-index: 3;

  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.marketing__top-info {
  color: #fff;
  margin-bottom: 30px;
  margin-left: 20px;

  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.marketing__top-title {
  font-size: 3.6rem;
  font-weight: 700;
}
.marketing__top-descr {
  font-weight: 500;
  font-size: 1.8rem;
  margin-top: 10px;
}
.marketing__bottom {
  margin-top: 50px;
  max-width: 640px;
  width: 100%;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  height: 55%;
}
.marketing__bottom-title {
  margin-left: 55px;
  margin-top: 40px;
  font-weight: 600;
  font-size: 2rem;
  align-self: start;
}
.marketing__bottom-nav {
  margin-top: 30px;
  align-self: start;
  width: 100%;
  flex: 1 1 auto;
}
.marketing__bottom-list {
  display: flex;
  flex-wrap: wrap;

  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.marketing__bottom-li {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 290px;
  width: 100%;
  min-height: 78px;
  position: relative;
  box-shadow: 0px 0px 20px 15px rgba(0, 0, 0, 0.01);
  border-radius: 10px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 30px;

  transition: all 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
  cursor: pointer;
  &:after {
    content: "";
    position: absolute;
    display: inline-block;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
  }
  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    display: inline-block;
    left: 0;
    top: 0;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
.marketing__bottom-li1 {
  &:before {
    background-image: url("../img/item1bg.png");
    z-index: -1;
  }
  &:after {
    background-image: url("../img/item1.png");
    width: 31px;
    height: 28px;
  }
}
.marketing__bottom-link {
  display: inline-block;
  max-width: 175px;
  width: 100%;
  font-size: 1.6rem;
  font-weight: 600;
  color: #fff;
  line-height: 1.3;
  margin-left: 60px;
  text-decoration: none;

  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.marketing__bottom-li2 {
  &:before {
    background-image: url("../img/item2bg.png");
    z-index: -1;
  }
  &:after {
    background-image: url("../img/item2.png");
    z-index: -1;
    width: 35px;
    height: 36px;
  }
  .marketing__bottom-link {
    max-width: 195px;
  }
}
.marketing__bottom-li3 {
  &:before {
    background-image: url("../img/item3bg.png");
    z-index: -1;
  }
  &:after {
    background-image: url("../img/item3.png");
    width: 24px;
    height: 26px;
  }
}
.marketing__bottom-li4 {
  &:before {
    background-image: url("../img/item4bg.png");
    z-index: -1;
  }
  &:after {
    background-image: url("../img/item4.png");
    width: 21px;
    height: 35px;
  }
}
.marketing__bottom-info {
  margin-left: 35px;
  margin-top: 30px;
  margin-bottom: 35px;
  margin-top: auto;

  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.marketing__bottom-info-title {
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 10px;
}
.marketing__bottom-info-text {
  font-size: 1.6rem;
  font-weight: 400;
}
.materials {
  max-width: 410px;
  width: 100%;
  a {
    text-decoration: none;
    color: #000;
  }

  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.materials__top {
  border-radius: 10px;
  box-shadow: 0px 9px 43px 33px rgba(0, 0, 0, 0.09);
  padding: 40px;
  position: relative;

  min-height: 650px;
}
.materials__applied {
}
.materials__title {
  font-weight: 600;
  font-size: 2rem;
  margin-bottom: 25px;
}
.materials__block {
  display: inline-block;
  margin-bottom: 2rem;
  max-width: 260px;
  border-radius: 10px;
  padding: 10px 15px;
  line-height: 1.5;
  transition: all 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.materials__block-title {
  font-size: 1.6rem;
  font-weight: 600;
}
.materials__block-text {
  font-size: 1.4rem;
  font-weight: 400;
  margin-top: 5px;
}
.materials__articles {
}
.materials__articles-title {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 50px;
}
.materials__articles-nav {
}
.materials__articles-list {
}
.materials__articles-li {
  text-align: center;
  border-radius: 10px;
  margin-top: 30px;
  border-bottom: 1px solid #e1e1e1;

  transition: all 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.materials__articles-link {
  font-size: 1.6rem;
  font-weight: 600;
  padding: 20px 20px;
  display: block;
}
.materials__social-nav {
  margin-top: 4rem;
}
.materials__social-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 43px 33px rgba(0, 0, 0, 0.09);
  border-radius: 10px;
}
.materials__social-li {
  &:first-child {
    border-bottom: 1px solid #e1e1e1;
  }
}
.materials__social-link {
  transition: all 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
  display: flex;
  align-items: center;
  padding-bottom: 20px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10px;
  img {
    width: 22px;
    height: 22px;
    margin-left: 12px;
  }
}

// TABS

.materials__top-tab {
  visibility: hidden;
  opacity: 0;

  position: absolute;
  background: #fff;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  padding: 50px;
  border-radius: 10px;
}
.materials__tab-body {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.materials__tab-info {
  display: flex;
  align-items: center;
}
.materials__tab-close {
  font-size: 1.6rem;
  line-height: 1.2;
  font-weight: 500;
  span {
    font-size: 2rem;
  }
}
.materials__tab-title {
  font-size: 1.8rem;
  font-weight: 600;
  text-align: center;
  margin-left: 10rem;
}
.materials__tab-content {
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 30px;
  margin-bottom: 30px;
  border-top: 1px solid #1e1e1e;
  border-bottom: 1px solid #1e1e1e;
  padding-top: 30px;
  padding-bottom: 30px;

  flex: 1 1 auto;
  overflow-y: auto;
}
.materials__tab-footer {
  text-align: center;
}
.materials__tab-footer .materials__tab-google-link {
  color: #386cff;
  display: inline-block;
  transform: skew(-20deg);
}

// MARKETING TABS

.marketing__tab {
  opacity: 0;
  visibility: hidden;

  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);

  position: absolute;
  left: 0;
  top: 0;
  background: #fff;
  width: 100%;
  height: 100%;
  right: 0;
  bottom: 0;
  z-index: 10;
  padding: 50px;
  border-radius: 10px;
}
.marketing__tab-body {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.marketing__tab-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.marketing__tab-info .marketing__tab-close {
  font-size: 1.8rem;
  text-decoration: none;
  color: #000;
  span {
    font-size: 2rem;
  }
}

.marketing__tab-info-block {
  font-size: 1.6rem;
  font-weight: 600;
  margin-left: 50px;
  color: #fff;
  position: relative;
  z-index: 30;
  text-align: center;
  max-width: 260px;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  &:before {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    max-width: 260px;
    width: 100%;
    height: 60px;
    border-radius: 10px;
    left: 0;
    top: 0;
    z-index: -11;
  }
  &:after {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 11;
  }
}

.marketing-apartament {
  &:before {
    background-image: url("../img/item1bg.png");
  }
  &:after {
    background-image: url("../img/item1.png");
    width: 31px;
    height: 28px;
  }
}
.marketing-beaty {
  .marketing__tab-info-text {
    max-width: 200px;
  }
  &:before {
    background-image: url("../img/item2bg.png");
  }
  &:after {
    background-image: url("../img/item2.png");
    width: 35px;
    height: 36px;
    left: 7px;
  }
}
.marketing-dentist {
  &:before {
    background-image: url("../img/item3bg.png");
  }
  &:after {
    background-image: url("../img/item3.png");
    width: 24px;
    height: 26px;
  }
}
.marketing-pizza {
  &:before {
    background-image: url("../img/item4bg.png");
  }
  &:after {
    background-image: url("../img/item4.png");
    width: 21px;
    height: 38px;
  }
}

.marketing__tab-info-text {
  max-width: 180px;
  margin-left: auto;
  margin-right: 20px;
}

.marketing__tab-content {
  overflow-y: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  border-top: 1px solid #1e1e1e;
  border-bottom: 1px solid #1e1e1e;
  padding-top: 30px;
  padding-bottom: 30px;

  flex: 1 1 auto;
}
.marketing__tab-p {
}
.marketing__tab-video {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  background: #000;
  iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: none;
  }
  .marketing__tab-media {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border: none;
  }
}

.marketing__tab-media-play {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  display: none;
  padding: 0;
  width: 68px;
  height: 48px;
  border: none;
  background-color: transparent;
  transform: translate(-50%, -50%);
  cursor: pointer;
  outline: transparent;
}
.marketing__tab-media-shape {
  fill: #212121;
  fill-opacity: 0.8;
}
.marketing__tab-media-icon {
  fill: #ffffff;
}

.marketing__tab-video:hover .marketing__tab-media-shape,
.marketing__tab-media-play:focus .marketing__tab-media-shape {
  fill: #ff0000;
  fill-opacity: 1;
}

.video--enabled {
}

.video--enabled .marketing__tab-media-play {
  display: block;
}






.marketing__tab-footer {
  margin-left: 25px;
}
.marketing__tab-footer-title {
  font-weight: 600;
  font-size: 1.6rem;
  margin-bottom: 10px;
}
.marketing__tab-footer-p {
  font-size: 1.6rem;
  font-weight: 400;
}

// ACTIVE

.materials__top-tab--active {
  opacity: 1;
  visibility: visible;
}

.marketing--passive {
  max-width: 450px;
  margin-right: 10px;
}

.marketing--active {
  max-width: 850px;
  margin-right: 10px;
}

.marketing__bottom-li--active {
  max-width: 80px;
  &:after {
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
  }
  animation: items 1s ease forwards;
}
@keyframes items {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.marketing__top-info--active {
  position: absolute;
  text-align: center;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  z-index: 1;
  margin-left: 0;
}
.marketing__top-img--active {
  margin-left: 120px;
}
.materials--active {
  max-width: 750px;
}
.materials--passive {
  max-width: 300px;
}

.marketing__tab--active {
  opacity: 1;
  visibility: visible;
}

.footer {
  background-color: #1c1b1b;
  box-shadow: 0px 0px 23px 17px rgba(0, 0, 0, 0.01);
  color: #fff;
}
.footer__inner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  min-height: 100px;
}
.footer__info {
  font-size: 2rem;
  text-align: center;
  margin-top: 2rem;
}
.footer__title {
  font-weight: 700;
}
.footer__rights {
  font-weight: 400;
}
.footer__date {
  margin-top: 10px;
  font-size: 1.2rem;
  font-weight: 500;
}
.footer__author {
  position: absolute;
  right: 0;
  text-decoration: none;
  color: #fff;
  font-size: 2rem;
  font-weight: 500;

  display: flex;
  justify-content: center;
  align-items: center;
  svg{
    &:hover{
      path {
        fill: rgb(112, 80, 80);
      }
    }
    margin-left: 20px;
    width: 64px;
    height: 64px;
    path {
      fill: #fff;
    }
  }
}

@media (max-width: 1200px) {
  .materials__top {
    min-height: auto;
    padding: 20px;
    padding-bottom: 0;
    padding-top: 30px;
  }
  .main__inner {
    flex-direction: column;
  }
  .marketing__top {
    justify-content: center;
  }
  .marketing {
    max-width: none;
    width: 100%;
    margin-bottom: 2rem;
  }
  .materials {
    max-width: none;
  }
  .materials__applied {
    text-align: center;
  }
  .materials__articles-title {
    text-align: center;
  }
  .materials__articles {
    margin-top: 2rem;
  }

  .marketing--active {
    margin-right: 0px;
  }
  .marketing--passive {
    margin-right: 0px;
  }
}

@media (max-width: 800px) {
  .footer__inner {
    min-height: 120px;
    text-align: center;
    align-items: start;
  }
  .footer__author {
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
  }

  .marketing__tab-footer {
    margin-left: 0px;
  }

  .marketing__tab {
    padding: 15px;
  }
  .materials__top-tab {
    padding: 15px;
  }
  .materials__top {
    padding: 15px;
    padding-bottom: 0;
    padding-top: 25px;
  }
}

@media (max-width: 700px) {
  .marketing__top-img {
    margin-left: 0;
  }
  .marketing__bottom-list {
    justify-content: space-between;
  }
  .marketing__bottom-li {
    max-width: 250px;
  }

  .marketing__bottom-info {
    margin: 15px;
  }
}

@media (max-width: 600px) {
  .marketing__bottom-list {
    justify-content: space-between;
  }
  .marketing__bottom-li {
    max-width: none;
  }
}

@media (max-width: 500px) {
  .marketing__tab-info {
    flex-direction: column-reverse;
  }
  .marketing__tab-close {
    margin-top: 2rem;
  }

  .marketing__tab-info-block {
    margin-left: 0px;
  }

  .marketing__tab {
    padding: 10px;
  }
  .materials__top-tab {
    padding: 10px;
  }
  .materials__top {
    padding: 10px;
    padding-bottom: 0;
    padding-top: 20px;
  }

  .materials__tab-info {
    flex-direction: column-reverse;
  }
  .materials__tab-title {
    margin-left: 0;
    margin-bottom: 2rem;
  }
  .materials__top-tab {
    padding-top: 2rem;
  }
  .marketing__top-info {
    margin-left: 10px;
    margin-right: 10px;
  }
}
