.main{
  @include adaptive-value('padding-top', 100, 50, 0);
  @include adaptive-value('padding-bottom', 875, 500, 0);
}

.main__inner{
  display: flex;
  align-items: center;
}
.main__nav{
  a{
    @include adaptive-value('margin-left', 95, 0, 0);
    @include adaptive-value('font-size', 19, 15, 0);
    padding: 15px;
    position: relative;
    transition: all 0.3s ease-in;
  }
  a:hover{
    width: 136px;
    height: 37px;
    color: #fff;
    background-color: #000000;
    background-image: linear-gradient(45deg, #4575ff 0%, #5842ff 100%);
  }
}
.main__content{
  @include adaptive-value('margin-top', 85, 55, 0);
  h1{
    @include adaptive-value('font-size', 65, 45, 0);
    font-weight: 700;
    max-width: 650px;
  }
  p{
    @include adaptive-value('font-size', 36, 33, 0);
    font-weight: 500;
    max-width: 500px;
    margin-top: 8px;
  }
  a{
    margin-top: 20px;
    display: inline-block;
    background-color: #000000;
    background-image: linear-gradient(27deg, #ff4545 0%, #ff4242 100%);
    width: 100px;
    height: 80px;
    border-radius: 8px;
    border-bottom-right-radius: 30px; 
    border-top-right-radius: 30px; 
    position: relative;
    transition: all 0.3s ease-in;
    svg{
      position: relative;
      z-index: 2;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      height: 80px;
      width: 80px;
      fill: #fff;
      transition: all 0.25s ease-in;
    }
    &:hover{
      background: #fff;
    }
  }
}
.main__content{
  display: flex;
}
.main__content-info{
  max-width: 700px;
  width: 100%;
}
.main__content-image{
  position: relative;
  img{
    position: absolute;
    right: -470px;
    top: -185px;
    width: 738px;
    height: 1334px;
  }
}

@media(max-width:1060px){
  .main__content-image{
    img{
      right: -370px;
    }
  }
  
}

@media(max-width:930px){
  .main__content-image{
    img{
      right: -300px;
    }
  }
}

@media(max-width:930px){
  .main__content-image{
    img{
      right: -250px;
    }
  }
}

@media(max-width:767px){
  .main__content-image{
    img{
      right: -60px;
      top: 150px;
    }
  }
  
}

@media(max-width:767px){
  .main__content-image{
    img{
      right: -120px;
      top: 150px;
    }
  }
}

@media(max-width:460px){
  .main__content-image{
    img{
      right: -200px;
      top: 280px;
    }
  }
}

@media(max-width:460px){
  .main__content-image{
    img{
      right: -220px;
      top: 300px;
    }
  }
}

@media(max-width:350px){
  .main__content-image{
    img{
      right: -250px;
      top: 300px;
    }
  }
}

@media(max-width:400px){
  .main__content{
    h1{
      span{
        display: block;
        margin-left: 60px;
      }
    }
  }
}

// Page 2 start
.main--page-2{
  @include adaptive-value('padding-top', 55, 30, 0);
  @include adaptive-value('padding-bottom', 30, 20, 0);
}
.main__content{
  .main__content-info--page-2{
    max-width: 1200px;
  }
  .main__content-text--page-2{
    max-width: 1060px;
    width: 100%;
    margin-top: 20px;
    @include adaptive-value('font-size', 33, 24, 0);
  }
  ul{
    @include adaptive-value('margin-top', 55, 35, 0);
    @include adaptive-value('margin-bottom', 40, 30, 0);
    li{
      color: #271f71;
      @include adaptive-value('font-size', 24, 18, 0);
      font-weight: 500;
      line-height: 48px;
    }
  }
  .main__content-btn--page-2{
    margin-top: 60px;
  }
}
@media(max-width:575px){
  .main__inner--page-2{
    flex-direction: column;
    .main__logo--page-2{
      margin-bottom: 30px;
    }
    .main__nav{
      a{
        @include adaptive-value('margin-left', 100, 3, 0);
      }
    }
  }
}
// Page 2 end


// Page 3 start
.main--page-3{
  @include adaptive-value('padding-top', 275, 65, 0);
  @include adaptive-value('padding-bottom', 30, 20, 0);
}
.main__content{
  .main__content-info--page-3{
    max-width: 1200px;
  }
  .main__content-text--page-3{
    max-width: 1100px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    @include adaptive-value('font-size', 33, 30, 0);
  }
}

// Page 3 end
// Page 4 start

  .main--page-4{
    @include adaptive-value('padding-top', 50, 25, 0);
    @include adaptive-value('padding-bottom', 30, 20, 0);
    .main__inner{
      padding: 15px;
      padding-left: 30px;
      max-width: 1200px;
      width: 100%;
      box-shadow: -2px -1px 21px 6px rgba(0, 0, 0, 0.19);
      border-radius: 10px;
      background-color: #ffffff;
      position: relative;
      z-index: 3;
    }
    .main__sistem{
      margin-top: -20px;
      max-width: 1200px;
      min-height: 2563px;
      width: 100%;
      box-shadow: -2px -1px 21px 6px rgba(0, 0, 0, 0.19);
      background-color: #ffffff;
      padding: 15px;
      padding-left: 30px;
    }
    .main__sistem-text{
      max-width: 824px;
      width: 100%;
      color: #000000;
      font-size: 23px;
      font-weight: 500;
    }
    .main__sistem-title{
      color: #000000;
      font-size: 58px;
      font-weight: 700;
      padding-top: 30px;
      margin-bottom: 30px;
    }
    .main__sistem-text{
      max-width: 824px;
      @include adaptive-value('font-size', 26, 18, 0);
      margin-left: 10px;
      margin-bottom: 20px;
    }
    .main__sistem-inner{
      display: flex;
      @include adaptive-value('margin-bottom', 70, 40, 0);
    }
    .main__sistem-item{
      margin-top: 25px;
      h2{
        @include adaptive-value('font-size', 33, 20, 0);
        color: #ffffff;
        background-image: linear-gradient(27deg, #4575ff 0%, #5842ff 100%);
        border-radius: 10px;
        background-color: #000000;
      }
    }
    .item-1{
      padding: 15px;
      margin-left: -10px;
      h2{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 10px;
        width: 75px;
        height: 74px;
      }
      max-width: 442px;
      width: 100%;
      height: 230px;
      box-shadow: -2px -1px 21px 6px rgba(0, 0, 0, 0.19);
      border-radius: 10px;
      background-color: #ffffff;
      background-image: linear-gradient(27deg, rgba(69, 117, 255, 0.1) 0%, rgba(88, 66, 255, 0.1) 100%);
    }
    .main__sistem-ul{
      margin-top: 10px;
      line-height: 35px;
      color: #271f71;
      @include adaptive-value('font-size', 21, 16, 0);
      font-weight: 500;
      position: relative;
      &:after{
        content: '';
        position: absolute;
        right: -14px;
        top: -100px;
        width: 58px;
        height: 230px;
        box-shadow: -2px -1px 21px 6px rgba(0, 0, 0, 0.11);
        border-radius: 10px;
        background-color: #ffffff;
        background-image: linear-gradient(27deg, rgba(69, 117, 255, 0.1) 0%, rgba(88, 66, 255, 0.1) 100%);
      }
      li{
        position: relative;
        span{
          position: absolute;
          display: inline-block;
          height: 2px;
          background-image: linear-gradient(27deg, rgba(69, 117, 255, 0.52) 0%, rgba(88, 66, 255, 0.52) 100%);
          right: 40px;
          top: 19px;
          transform: translateY(-50%);
        }
        .overline{
          width: 155px;
        }
        .line{
          width: 175px;
        }
        .underline{
          width: 40px;
        }
        &:after{
          content: '';
          position: absolute;
          top: 50%;
          right: 10px;
          z-index: 4;
          transform: translateY(-50%);
          border-radius: 50%;
          width: 9px;
          height: 10px;
          background-color: #000000;
          background-image: linear-gradient(27deg, #4575ff 0%, #5842ff 100%);
        }
      }
    }
    .item-2{
      margin-top: 22px;
      h2{
        margin-left: 15px;
        margin-top: 20px;
        width: 220px;
        height: 55px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      margin-left: 70px;
      max-width: 250px;
      width: 100%;
      min-height: 232px;
      box-shadow: -2px -1px 21px 6px rgba(0, 0, 0, 0.19);
      border-radius: 10px;
      background-color: #ffffff;
      background-image: linear-gradient(27deg, rgba(69, 117, 255, 0.11) 0%, rgba(88, 66, 255, 0.11) 100%);
      .item-2__list{
        margin-top: 22px;
        line-height: 38px;
        color: #271f71;
        font-size: 19px;
        font-weight: 500;
        margin-left: 20px;
        text-transform: uppercase;
        span{
          position: relative;
          z-index: 3;
          display: inline-block;
          text-align: center;
          line-height: 24px;
          font-size: 24px;
          color: #fff;
          width: 24px;
          height: 24px;
          border-radius: 50%;
          background-color: #000000;
          background-image: linear-gradient(27deg, #4575ff 0%, #5842ff 100%);
        }
        .sales{
          position: relative;
          z-index: 3;
          &:before{
            content: '';
            position: absolute;
            width: 121px;
            top: 15px;
            left: -120px;
            height: 2px;
            background-image: linear-gradient(27deg, #4575ff 0%, #5842ff 100%);
            z-index: -2;
          }
        }
        .cover{
          position: relative;
          z-index: 3;
          &:before{
            content: '';
            position: absolute;
            width: 121px;
            top: 12px;
            left: -120px;
            height: 2px;
            background-image: linear-gradient(27deg, #4575ff 0%, #5842ff 100%);
            z-index: -2;
          }
        }
        .faith{
          position: relative;
          z-index: 3;
          &:before{
            content: '';
            position: absolute;
            width: 121px;
            top: 12px;
            left: -120px;
            height: 2px;
            background-image: linear-gradient(27deg, #4575ff 0%, #5842ff 100%);
            z-index: -2;
          }
        }
      }
    }
    .main__bisness{
      display: flex;
      &-title{
        margin-left: 15px;
        }
      .main__bisness-image{
        img{
          position: relative;
          top: 7px;
          left: 10px;
        }
      }
      .main__sistem-descr{
        max-width: 646px;
        width: 100%;
        margin-top: 85px;
        margin-left: 15px;
        p{
          margin-bottom: 25px;
          @include adaptive-value('font-size', 20, 18, 0);
          span{
            color: #3c37d8;
          }
        }
        &-wrapper{
          margin-top: 50px;
          min-height: 307px;
          p{
            @include adaptive-value('font-size', 20, 18, 0);
          }
        }
        &-title{
          margin-bottom: 12px;
        }
      }
    }


    .main__commercial{
      display: flex;
      @include adaptive-value('margin-top', 50, 25, 0);
      @include adaptive-value('margin-bottom', 60, 35, 0);
    }
    .main__commercial-info{
      text-align: right;
      max-width: 663px;
      width: 100%;
      font-size: 19px;
      margin-right: 30px;
      @include adaptive-value('margin-top', 105, 85, 0);
      p{
        @include adaptive-value('font-size', 19, 16, 0);
        margin-bottom: 22px;
        padding-left: 20px;
        line-height: 24px;
        span{
          color: #5648ff;
        }
      }
      &-title{
      margin-bottom: 10px;
      }
    }
    .main__commercial-info-wrapper{
      text-align: right;
      p{
        max-width: 573px;
        margin-left: 30px;
      }
    }
    .main__commercial-box-title{
      .title-circle{
        margin-left: 20px;
      }
    }
    .main__commercial-img{
      img{
        position: relative;
        left: 74px;
        top: 73px;
      }
    }

    .main__trust{
      .title-circle{
        margin-left: 15px;
      }
    }
    .main__trust-inner{
      display: flex;
    }
    .main__trust-info{
      max-width: 650px;
      margin-top: 60px;
      p{
        margin-bottom: 30px;
        @include adaptive-value('font-size', 20, 18, 0);
        span{
          color: #5648ff;
        }
      }
    }
    .main__trust-info-box.box{
      min-height: 270px;
      p{
        margin-top: 25px;
      }
    }
    .main__trust-img{
      margin-top: 30px;
      margin-left: 72px;
      margin-right: 60px;
    }
  }

  .main__contact{
    @include adaptive-value('padding-top', 55, 35, 0);
    max-width: 1180px;
    width: 100%;
    min-height: 500px;
    border-radius: 10px;
    background-color: #eaeaea;
    position: relative;
  }
  .main__contact-box{
    display: flex;
  }
  .main__contact-titles{
    display: flex;
    font-size: 15px;
    margin-top: 20px;
    margin-left: 50px;
    h3{
      font-weight: 500;
      margin-right: 50px;
      position: relative;
      &:after{
        content: '';
        position: absolute;
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background: #000;
        top: 50%;
        transform: translateY(-50%);
        right: -25px;
      }
    }
  }

  .main__contact{
    position: relative;
    span{
      display: inline-block;
      position: absolute;
      width: 128px;
      height: 247px;
      box-shadow: -2px -1px 21px 6px rgba(255, 255, 255, 0.13);
      border-radius: 10px;
      background-color: #000000;
      background-image: linear-gradient(27deg, #4575ff 0%, #5842ff 100%);
      left: -20%;
      top: -69px;
      z-index: 3;
    }
  }
  .main__contact-title{
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 73px;
    font-weight: 700;
    width: 147px;
    height: 156px;
    border-radius: 10px;
    background-color: #000000;
    background-image: linear-gradient(27deg, #4575ff 0%, #5842ff 100%);
    position: relative;
    z-index: 4;
  }
  .main__contact-cons{
    max-width: 387px;
    margin-left: 45px;
    margin-top: 10px;
    color: #000000;
    font-size: 23px;
    font-weight: 700;
  }
  .main__contact-info{
    p{
      font-size: 16px;
      max-width: 350px;
      margin-left: 45px;
      margin-top: 10px;
    }
  }


  .main__contact-form{
    .form{
      padding: 20px;
      width: 294px;
      height: 199px;
      border-radius: 10px;
      background-color: #eaeaea;
      bottom: 32px;
      right: 10px;
      position: relative;
      z-index: 10;
    }
    margin-left: 220px;
    margin-top: 40px;
    position: relative;
    &:before{
      content: '';
      position: absolute;
      left: -80px;
      top: -40px; 
      width: 375px;
      height: 215px;
      box-shadow: 0 0 14px 2px rgba(82, 82, 255, 0.38);
      border-radius: 10px;
      background-color: #000000;
      background-image: linear-gradient(30deg, #4574ff 0%, #5842ff 100%);
    }
    .form__box{
      margin-bottom: 20px;
      position: relative;
      &:before{
        content: '';
        display: inline-block;
        position: absolute;
        width: 20px;
        height: 20px;
        left: 15px;
        top: 50%;
        transform: translateY(-50%);
        background: #000;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
      }
      input{
        width: 252px;
        height: 40px;
        border-radius: 10px;
        border: 1px solid #000000;
        background-color: #ffffff;
        padding: 14px 25px 14px 45px;
      }
      input::placeholder{
        font-size: 13px;
        color: #494949;
      }
      input.error{
        box-shadow: 0px 0px 20px rgb(182, 21, 21);
      }
      label.error{
        display: none !important;
      }
    }
    .phone-svg:before{
    background: url('../img/main/call.svg');
    }
    .user-svg:before{
      background: url('../img/main/user.svg');
    }
    .main__contact-btn{
      width: 144px;
      height: 40px;
      border-radius: 10px;
      background-image: linear-gradient(30deg, #4574ff 0%, #5842ff 100%);
      font-size: 14px;
      color: #fff;
      transition: all 0.3s ease-in;
      &:hover{
        background: darken(#4574ff, 20%);
      }
    }
  }

  .footer{
    box-shadow: -2px -1px 46px rgba(0, 0, 0, 0.19);
    background-color: #ffffff;
  }
  .footer__inner{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer__author{
    color: #000000;
    @include adaptive-value('font-size', 16, 14, 0)
    font-weight: 700;
    margin-right: 50px;
  }
  @media(max-width:575px){
    .footer__author{
      margin-right: 0px;
      margin-bottom: 10px;
    }
  }
  .footer__defender{
    color: #000000;
    text-align: center;
    font-size: 16px;
    max-width: 480px;
    @include adaptive-value('font-size', 16, 13, 0)
  }



  @media(max-width:1185px){
    .main--page-4 .main__contact span {
      left: -20%;
    }
  }
  @media(max-width:1160px){
    .main--page-4 .main__contact span {
      left: -21%;
    }
  }
  @media(max-width:1130px){
    .main--page-4 .main__contact span {
      left: -22%;
    }
  }
  @media(max-width:1100px){
    .main--page-4{
      .main__bisness{
        flex-direction: column;
        align-items: center;
      }
      .main__commercial{
        flex-direction: column-reverse;
        align-items: center;
      }
      .main__trust-title{
        text-align: center;
      }
      .main__trust-inner{
        flex-direction: column;
        align-items: center;
      }
      .main__contact {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .main__bisness-image{
        text-align: center;
      }
    }
    .main--page-4 .main__contact span {
      left: -70%;
    }
    .main--page-4 .main__contact-title {
      margin-left: 80px;
      position: relative;
      top: 20px;
  }
  .main__sistem-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .main__sistem-inner{
    justify-content: center;
  }
  .main--page-4 .main__bisness .main__sistem-descr {
    margin-top: 35px;
  }
}

@media(max-width:820px){
  .main__sistem-inner {
    flex-direction: column;
    align-items: center;
  }
  .main--page-4 .item-2 .item-2__list span:before {
    display: none;
  }
  .item-2__list{
    text-align: center;
    li{
      margin-bottom: 12px;
    }
  }
  .main--page-4 .item-2 {
    margin-left:0px;
  }
}
@media(max-width:680px){
  .main--page-4 .main__contact-box {
    flex-direction: column;
    align-items: center;
  }
  .main--page-4 .main__contact-title {
    margin-left: 0px;
    position: static;
  }
  .main--page-4 .main__contact-titles {
    display: flex;
    justify-content: center;
    margin-left: 0px;
  }
  .main--page-4 .main__contact-cons {
    max-width: 387px;
    text-align: center;
    margin-left: 0px;
    margin-top: 10px;
  }
  .main--page-4 .main__contact span {
    display: none;
  }
  .main--page-4 .main__contact-form {
    margin-left: 40px;
    margin-top: 60px;
    position: relative;
  }
  .main--page-4 .main__contact-info p {
    margin-left: 0px;
    text-align: center;
  }
}
@media(max-width:600px){
  .main--page-4 .main__commercial-info-wrapper p {
    margin-left: 10px;
  }
}

@media(max-width:575px){
  .main--page-4 .main__inner {
    display: flex;
    flex-direction: column;
    .main__logo{
      margin-bottom: 20px;
    }
    .main__nav{
      margin-bottom: 10px;
    }
  }
  .footer__inner{
    height: 150px;
    flex-direction: column;
    text-align: center;
  }
}

@media(max-width:480px){
  .main--page-4 .main__sistem-ul li .overline {
    width: 135px;
  }
  .main--page-4 .main__sistem-ul li .line {
    width: 155px;
  }
}
@media(max-width:450px){
  .main--page-4 .main__sistem-ul li .overline {
    width: 115px;
  }
  .main--page-4 .main__sistem-ul li .line {
    width: 130px;
  }
  .main--page-4 .main__sistem-ul li .underline {
    width: 30px;
  }
}
@media(max-width:430px){
  .main--page-4 .main__sistem-ul li .overline {
    width: 95px;
  }
  .main--page-4 .main__sistem-ul li .line {
    width: 110px;
  }
  .main--page-4 .main__sistem-ul li .underline {
    width: 10px;
  }
}
@media(max-width:405px){
  .main--page-4 .main__sistem-ul li .overline {
    display: none;
  }
  .main--page-4 .main__sistem-ul li .line {
    display: none;
  }
  .main--page-4 .main__sistem-ul li .underline {
    display: none;
  }
  .main--page-4 .main__sistem-ul:after {
    content: '';
    position: absolute;
    right: -14px;
    top: 110px;
    width: 112%;
    height: 30px;
  }
  .main--page-4 .main__sistem-ul li:after {
    display: none;
  }

  .main--page-4 .main__bisness-title {
    margin-left: 0px;
    text-align: center;
  }
  .main__commercial-box-title{
    text-align: center;
  }
  .main--page-4 .main__commercial-box-title .title-circle {
    margin-left: 0px;
  }
  .main--page-4 .main__commercial-img img {
    position: static;
    margin-top: 20px;
  }
  .main__commercial-img{
    text-align: center;
  }
  .main--page-4 .main__commercial-info {
    margin-top: 20px;
  }
  .main--page-4 .main__commercial-info p {
    padding-left: 0px;
  }
}
@media(max-width:320px){
  .main--page-4 .main__contact-form:before {
    display: none;
  }
  .main--page-4 .main__contact-form .form {
    padding: 20px;
    width: 290px;
    height: 199px;
    border-radius: 10px;
    background-color: #eaeaea;
    bottom: 32px;
    right: 20px;
    position: relative;
    z-index: 10;
  }
}
@media(max-width:500px){
  .main__contact-form:before {
    display: none;
  }
}
@media(max-width:360px){
  .main--page-4 .main__inner {
    padding: 20px;
    padding-left: 0px;
  }
}
// Page 4 end


// Podcast Page start

  .nav{
    padding-top: 20px;
    width: 100%;
    min-height: 100px;
    box-shadow: 2px 1px 46px rgba(0, 0, 0, 0.19);
    margin-bottom: 20px;
  }
  .nav__header{
    display: flex;
    align-items: center;
  }
  .nav__list{
    li{
      display: inline-block;
      @include adaptive-value('margin-left', 110, 0, 0);
      @include adaptive-value('font-size', 22, 18, 0);
    }
    a{
      padding: 10px 15px;
    }
    a:hover {
      width: 136px;
      height: 37px;
      color: #fff;
      background-color: #000;
      background-image: linear-gradient(45deg,#4575ff 0,#5842ff 100%);
    }
  }

  .podcast__active{
    width: 136px;
    height: 37px;
    padding: 10px 15px;
    color: #fff;
    background-color: #000000;
    background-image: linear-gradient(45deg, #4575ff 0%, #5842ff 100%);
  }
  @media(max-width:375px){
    .nav__list{
      a{
        padding: 10px 10px;
      }
    }
    a:hover {
      width: 136px;
      height: 37px;
      color: #fff;
      background-color: #000;
      background-image: linear-gradient(45deg,#4575ff 0,#5842ff 100%);
    }
    .podcast__active{
      width: 136px;
      height: 30px;
      padding: 5px 5px;
      color: #fff;
      background-color: #000000;
      background-image: linear-gradient(45deg, #4575ff 0%, #5842ff 100%);
    }
  }
  .podcast-page-title{
    font-weight: 700;
    @include adaptive-value('font-size', 30, 22, 0);
    margin-bottom: 15px;
  }
  .podcast__item{
    text-align: center;
    max-width: 250px;
    width: 100%;
  }
  .podcast-page-text{
    font-size: 18px;  
    max-width: 400px;
  }
  .podcast__text{
    max-width: 200px;
    font-size: 12px;
    font-weight: 500;
    padding-left: 20px;
    text-align: left;
    span{
      display: block;
      margin-top: 5px;
      font-size: 14px;
    }
  }
  .podcast__inner{
    display: flex;
    flex-wrap: wrap;
    max-width: 600px;
  }
  .podcast__item:nth-child(2){
    margin-left: 80px;
    margin-top: 15px;
  }
  .podcast__item:nth-child(3){
    margin-top: 25px;
  }
  .podcast-hear{
    position: relative;
  }
  .play-podcast{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
    img{
      padding: 10px;
      cursor: pointer;
    }
  }

  .podcast__form{
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .podcast__contact-form{
    span{
      display: none;
    }
  }

  .podcast__contact-form:before{
    left: -105px;
  }
  .podcast__contact-form{
    .form{
      right: 30px;
      width: 290px;
    }
  }
  .main__contact-title {
    margin-left: 29px;
  }


  @media(max-width:1200px){
    .podcast__form{
      max-width: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
    }
    .podcast__contact-box{
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      .main__contact-title {
        margin-left: 0px;
      }
      .main__contact-titles {
        margin-left: 0px; 
        justify-content: center;
        margin-bottom: 15px;
      }
      .main__contact-cons {
        margin-left: 0px;
        margin-bottom: 15px;
      }
      .main__contact-info p {
        margin-left: 0px;
        margin-bottom: 15px;
      }
    }
    .podcast__contact-form .form {
      right: 111px;
      width: 290px;
    }
    .podcast__contact-form:before {
      left: -160px;
    }
  }

  @media(max-width:767px){
    .podcast-page-info{
      display: flex;
      align-items: center;
      text-align: center;
    }
    .podcast-page-text{
      margin-left: 40px;
    }
  }

  @media(max-width:600px){
    .podcast-page-info{
      padding-bottom: 30px;
    }
    .podcast__inner{
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .podcast__item:nth-child(2) {
      margin-left: 0px;
      margin-top: 15px;
    }
    .podcast-hear{
      order: -1;
    }
    .position-1{
      order: -2;
    }
    .podcast__form{
      display: flex;
      flex-direction: column;
    }
  }

  @media(max-width:480px){
    .podcast-page-text{
      margin-left: 0;
    }
    .podcast__text{
      text-align: center;
    }
    .nav__header{
      flex-direction: column;
      padding-bottom: 20px;
      a{
        margin-bottom: 20px;
      }
    }
    .podcast__item{
      max-width: 250px;
    }
    .podcast__text {
      max-width: 230px; 
    }
  }
// Podcast Page end

// Cases-Page start
  .cases{
    margin-bottom: 30px;
    span{
      color: #534fff;
    }
  }
  .cases__wrapper{
    max-width: 1200px;
    border-radius: 10px;
    background-color: #fff;
    border: 10px solid #4575ff;
    @include adaptive-value('padding', 30, 15, 0);
  }

  .cases__pizza{
    display: flex;
    margin-bottom: 50px;
  }
  .cases__pizza-info{
    margin-top: 50px;
    margin-left: 50px;
    h1{
      font-weight: 700;
      @include adaptive-value('font-size', 30, 24, 0);
      margin-bottom: 10px;
    }
    p{
      @include adaptive-value('font-size', 17, 15, 0);
      font-weight: 500;
      margin-bottom: 15px;
    }
    .btn-step{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 262px;
      height: 47px;
      box-shadow: -2px -1px 9px 4px rgba(74, 105, 255, 0.25);
      border-radius: 10px;
      background-color: #f6f6f6;
      @include adaptive-value('font-size', 17, 14, 0);
      img{
        margin-right: 15px;
      }
    }
  }


  .accordion-item__content{
    img{
      width: 100%;
    }
  }
  .cases__item-trigger{
    cursor: pointer;
      width: 100%;
      margin-top: 30px;
      @include adaptive-value('font-size', 22, 16, 0);
      font-weight: 500;
        box-shadow: -2px -1px 9px 4px rgba(0, 0, 0, 0.13);
      border-radius: 10px;
      width: 100%;
      background-color: #f6f6f6;
      @include adaptive-value('padding', 20, 10, 0);
      img{
        position: relative;
        bottom: 3px;
        left: 10px;
      }
  }
  .accordion-item__content{
    display: none;
  }

  .cases__pizza-info{
    position: relative;
  }

  .cases-logo{
    position: absolute;
    right: -25px;
    top: -75px;
  }

  @media(max-width:1200px){
    .cases-logo{
      position: static;
      margin-bottom: 15px;
    }
    .cases__pizza{
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .cases__pizza-info{
      text-align: center;
    }
    .btn-step{
      margin: 0 auto;
    }
    .cases__pizza-img{
      width: 90%;
      margin-bottom: 20px;
      img{
        width: 100%;
      }
    }
    .cases__pizza-info {
      margin-top: 0px;
      margin-left: 0px;
    }
  }

  @media(max-width:767px){
    .cases__pizza-img{
      width: auto;
    }
  }

  @media(max-width:575px){
    .cases__wrapper{
      border: 5px solid #4575ff;
    }
    .cases__pizza-info .btn-step {
        width: 210px;
    }
  }

  .active{
    img{
      transform: rotate(-90deg);
    }
  }
// Cases-Page end

// Cases Modal start

  .modal{
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0,0,0, 0.5);
    z-index: 99;
  }

  .modal__dialog{
    box-shadow: -2px -1px 9px 4px rgba(0, 0, 0, 0.13);
    border-radius: 10px;
    background-color: #f6f6f6;
    border: 10px solid #4575ff ;
    @include adaptive-value('padding', 30, 15, 0);
    span{
      color: #5648ff;
      }
  }

  @media(max-width:575px){
    .modal__dialog{
      border: 5px solid #4575ff ;
    }
  }

  .modal__list{
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    li{
      margin-left: 25px;
    }
    li:first-child{
      font-weight: 700;
      font-size: 20px;
    }
    li:nth-child(2){
      position: relative;
      font-size: 15px;
      &:before{
        content: '';
        position: absolute;
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background: #000;
        top: 50%;
        left: -12px;
        transform: translateY(-50%);
      }
      &:after{
        content: '';
        position: absolute;
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background: #000;
        top: 50%;
        right: -12px;
        transform: translateY(-50%);
      }
    }
    li:nth-child(3){
      font-size: 10px;
      color: #4a69ff;
    }
  }
  .modal__steps{
    display: flex;
    align-items: center;
    margin-bottom: 45px;
    li{
      margin-left: 25px;
      font-size: 15px;
      font-weight: 600;
    }
    li:nth-child(3){
      position: relative;
      font-weight: 400;
      font-size: 15px;
      &:before{
        content: '';
        position: absolute;
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background: #000;
        top: 50%;
        left: -12px;
        transform: translateY(-50%);
      }
    }
  }

  .modal__target{
    max-width: 530px;
    font-size: 15px;
    line-height: 24px;
    font-weight: 500;
    margin-bottom: 20px;
  }



  .modal__steps-inner{
    display: flex;
  }
  .modal__steps-item:not(:first-child){
    @include adaptive-value('margin-left', 50, 25, 0);
  }
  .modal__steps-item:nth-child(2){
    img{
      margin-bottom: 30px;
    }
  }
  .fq-step-item{
    padding: 15px 10px;
    border-radius: 10px;
    min-height: 100px;
    font-size: 14px;
    border: 1px solid #898989;
    background-color: #f6f6f6;
  }

  span.fq{
    margin-bottom: 10px;
    color: #ffffff;
    font-size: 13px;
    width: 41px;
    height: 28px;
    border-radius: 10px;
    background-color: #ffffff;
    background-image: linear-gradient(45deg, #464646 0%, #595959 100%);
    display: block;
    line-height: 28px;
    text-align: center;
  }

  .modal__decision{
    @include adaptive-value('margin-bottom', 100, 50, 0);
  }
  .decision-descr{
    font-weight: 500;
    font-size: 15px;
    margin-bottom: 20px;
    margin-top: 25px;
    max-width: 600px;
  }
  .modal__decision-inner{
    display: flex;
  }
  .modal__decision-item:not(:first-child){
    @include adaptive-value('margin-left', 50, 25, 0);
  }
  .modal__decision-item:nth-child(2){
    img{
      display: block;
    }
  }

  .modal__step-2{
    .modal__step2-inner{
      display: flex;
      align-items: center;
      margin-top: 35px;
      margin-bottom: 50px;
    }
    .modal__step2-item:not(:first-child){
      @include adaptive-value('margin-left', 50, 25, 0);
    }
    .step2-first{
      display: flex;
      align-items: center;
      p{
        margin-left: 40px;
        span{
          display: block;
          font-size: 10px;
        }
      }
    }
    .step2-last{
      width: 50%;
    }
    .dish{
      font-size: 13px;
    }
    .dish-make{
      color: #ff7474;
    }
    .payment{
      span{
        color: #32cf80;
        display: block;
      }
    }
    .step2-close{
      position: relative;
      left: 130px;
      bottom: 30px;
    }
  }
  .step-2-target{
    max-width: 570px;
    font-size: 15px;
  }

  .modal__step-3{
    img{
      margin-top: 30px;
      margin-bottom: 30px;
    }
    p{
      font-size: 15px;
      max-width: 750px;
    }
    .modal__step-3-inner{
      @include adaptive-value('margin-top', 40, 25, 0);
      @include adaptive-value('margin-bottom', 50, 25, 0);
      display: flex;
    }
    .modal__step3-item{
      p{
        max-width: 500px;
      }
      P:nth-child(2){
        margin-top: 10px;
        font-size: 13px;
      }
    }
    .modal__step3-item:nth-child(2){
      flex-basis: 60%;
    }
  }

  .modal__results{
    .results-text{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 200px;
      border-radius: 10px;
      margin-top: 15px;
      margin-left: 15px;
      padding-left: 10px;
      padding-right: 60px;
      position: relative;
      color: #fff;
      text-transform: uppercase;
      height: 50px;
      background: #4575ff;
      img{
        margin-right: 20px;
      }
    }
  }
  .site-for-bisness{
    @include adaptive-value('font-size', 30, 24, 0);
    @include adaptive-value('margin-left', 40, 0, 0);
    @include adaptive-value('margin-top', 30, 10, 0);
  }
  .conception{
    display: flex;
    justify-content: center;
    img{
      margin-top: 20px;
      width: 100%;
    }
  }

  .modal__dialog{
    position: relative;
  }
  .modal__close{
    position: absolute;
    right: 10px;
    top: 10px;
  }

  @media(max-width:1200px){
    .modal__target {
      max-width: 100%;
      text-align: center;
    }
    .modal__steps-inner {
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
    }
    .modal__steps-item:nth-child(2){
      display: flex;
      flex-direction: column;
    }
    .modal__steps-item:nth-child(4){
      flex-basis: 100%;
      margin-top: 20px;
      text-align: center;
    }
  }

  @media(max-width:991px){
    .modal__decision-inner{
      flex-wrap: wrap;
      justify-content: center;
    }
    .modal__decision-item:nth-child(3){
      flex-basis: 26%;
      text-align: center;
    }
    .modal__step2-inner{
      flex-wrap: wrap;
      justify-content: center;
    }
    .payment{
      font-size: 16px;
    }
    .step2-close{
      top: -30px;
    }
    .modal__step2-item:nth-child(3){
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .step-2-decision{
      img{
        width: 100%;
      }
    }
    .modal__steps{
      flex-direction: column;
      li{
        margin-bottom: 15px;
      }
    }
    p.step-2-target{
      max-width: 100%;
      text-align: center;
    }
    .decision-descr{
      text-align: center;
      max-width: 100%;
    }
    .modal__step-3 p {
      font-size: 15px;
      max-width: 100%;
      text-align: center;
    }
    .modal__step-3-inner{
      flex-direction: column;
    }
    .modal__step3-item{
      text-align: center;
    }
    .modal__step-3 .modal__step3-item p {
      max-width: 100%;
    }
    .modal__step-3 .modal__step3-item P:nth-child(2) {
      margin-bottom: 10px;
    }
    .modal__step-insta{
      text-align: center;
      img{
        width: 100%;
      }
    }
    .modal__results{
      text-align: center;
      img{
        width: 100%;
      }
    }
    .modal__results .results-text {
      width: 100%;
      border-radius: 10px;
      margin-top: 15px;
      margin-left: 0px;
      height: 50px;
      img{
        height: 45px;
        width: 60px;
      }
    }
    .modal__step-3{
      img{
        width: 100%;
      }
    }
  }

  @media(max-width:700px){
    .modal__steps-inner{
      flex-direction: column;
    }
    .modal__steps-item:first-child{
      margin-bottom: 10px;
    }
    .modal__decision-inner{
      flex-direction: column;
    }
    .modal__decision-inner{
      text-align: center;
    }
    .modal__decision-item:nth-child(2) img {
      display: inline-block;
    }
  }
  @media(max-width:480px){
    .modal__list{
      flex-direction: column;
      li{
        margin-bottom: 10px;
      }
    }
    .modal__decision-item:nth-child(1){
      img{
        width: 100%;
      }
    }
    .modal__decision-item:nth-child(2){
      display: none;
    }
    .step2-first{
      margin-bottom: 20px;
    }
    .modal__steps-item:nth-child(1){
      img{
        width: 100%;
      }
    }
    .modal__close{
      top: 0px;
      right: 0;
    }
  }


// Cases Modal end