.modal{
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0,0,0, 0.5);
  z-index: 99;
  &__dialog{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 99;
  }
  &__content{
    position: relative;
  }
  &__close{
    position: absolute;
    right: -40px;
    top: -25px;
    background-color: inherit;
    border: none;
    font-size: 32px;
    padding: 15px;
    outline: none;
    cursor: pointer;
    color: #fff;
  }
}
.form-title .modal__dialog-span{
  display: block;
}
@media(max-width:480px){
  .form-name-box .label-name {
    padding: 4px;
}
}

